@import "../../assets/scss/variables";

section {
  width: 100%;
  height: 1000px;
  background-image: url("../../assets/moneo-logo/fon.png");
  background-size: cover;
  -webkit-mask-image: url("../../assets/moneo-logo/maska.png");
  mask-image: url("../../assets/moneo-logo/maska.png");
  -webkit-mask-position: center center;
  mask-position: center center;
  //overflow-x: hidden;
  position: absolute;
  top: -100px;
  z-index: 20;
  @media only screen and (max-width: 1200px) {
    top: -200px;
  }
  @media only screen and (max-width: 992px) {
    top: -240px;
  }
  @media only screen and (max-width: 768px) {
    top: -315px;
  }
  @media only screen and (max-width: 576px) {
    top: -390px;
  }
  @media only screen and (max-width: 480px) {
    top: -430px;
  }
  @media only screen and (max-width: 387px) {
    top: -410px;
  }

  .iPad {
    position: absolute;
    display: inline-block;
    top: 270px;
    left: -200px;
    @media only screen and (max-width: 1830px) {
      display: block;
      position: relative;
      text-align: center;
      top: -115px;
      left: 0;
      right: 0;
    }
    @media only screen and (max-width: 1200px) {
      top: -100px;
    }
    @media only screen and (max-width: 992px) {
      top: -40px;
    }
    @media only screen and (max-width: 768px) {
      top: 0;
    }
    @media only screen and (max-width: 576px) {
      top: 63px;
    }
    @media only screen and (max-width: 480px) {
      top: 115px;
    }
    @media only screen and (max-width: 387px) {

    }
    .ipad-svg {
      @media only screen and (max-width: 1830px) {
        display: none!important;
      }
    }
    .ipad-png {
      display: none!important;
      @media only screen and (max-width: 1830px) {
        top: 18px;
        right: 0;
        margin: 0 auto;
        max-width: 45%;
        border-radius: 20px;
        display: block!important;
      }
      @media only screen and (max-width: 1200px) {
        max-width: 57%;
      }
      @media only screen and (max-width: 992px) {
        max-width: 65%;
      }
      @media only screen and (max-width: 768px) {
        max-width: 75%;
      }
      @media only screen and (max-width: 576px) {
        max-width: 93%;
      }
    }
    .ipad-photo {
      position: absolute;
      top: 25px;
      left: 294px;
      border-radius: 8px;
      @media only screen and (max-width: 1830px) {
        top: 20px;
        left: -2px;
        right: 2px;
        margin: 0 auto;
        max-width: 39%;
      }
      @media only screen and (max-width: 1500px) {
        top: 18px;
      }
      @media only screen and (max-width: 1200px) {
        max-width: 49.5%;
        top: 19px;
      }
      @media only screen and (max-width: 992px) {
        top: 17px;
        max-width: 56.5%;
      }
      @media only screen and (max-width: 850px) {
        top: 14px;
      }
      @media only screen and (max-width: 768px) {
        top: 16px;
        max-width: 65.5%;
      }
      @media only screen and (max-width: 576px) {
        top: 14px;
        max-width: 80.7%;
      }
      @media only screen and (max-width: 480px) {
        top: 13px;
        border-radius: 5px;
      }
      @media only screen and (max-width: 480px) {
        top: 11px;
      }
      @media only screen and (max-width: 375px) {
        top: 9px;
      }
      @media only screen and (max-width: 320px) {
        top: 8px;
      }


    }
    .play-button {
      display: inline-block;
      width: 150px;
      height: 150px;
      position: absolute;
      top: 226px;
      left: -84px;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
      @media only screen and (max-width: 1830px) {
        width: 120px;
        height: 120px;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      @media only screen and (max-width: 992px) {
        width: 100px;
        height: 100px;
      }
      @media only screen and (max-width: 768px) {
        width: 80px;
        height: 80px;
      }

    }
    video {
      position: absolute;
      @include rounded(10px);
      width: 752px;
      background-color: #000000;
      height: 564px;
      top: 25px;
      left: 293px;
      @media only screen and (max-width: 1830px) {
        width: 39.5%;
        left: 1px;
        right: 0;
        margin: 0 auto;
        height: 91%;
        border-radius: 8px;
        top: 20px;
      }
      @media only screen and (max-width: 1440px) {
        top: 17px;
      }
      @media only screen and (max-width: 1200px) {
        width: 50%;
      }
      @media only screen and (max-width: 992px) {
        top: 15px;
        width: 58%;
        left: -1px;
      }
      @media only screen and (max-width: 768px) {
        width: 66%;
      }
      @media only screen and (max-width: 576px) {
        width: 81.5%;
      }
      @media only screen and (max-width: 480px) {
        top: 12px;
      }
      @media only screen and (max-width: 375px) {
        top: 9px;
      }
      @media only screen and (max-width: 320px) {
        top: 8px;
      }

    }

    .close {
      float: none;
      opacity: 1;
      position: absolute;
      color: #ffffff;
      top: 32px;
      right: 402px;
      z-index: 1000;
      @media only screen and (max-width: 1830px) {
        top: 28px;
        right: 31%;
      }
      @media only screen and (max-width: 1200px) {
        right: 27%;
      }
      @media only screen and (max-width: 992px) {
        right: 24%;
      }
      @media only screen and (max-width: 768px) {
        right: 20%;
      }
      @media only screen and (max-width: 576px) {
        right: 12%;
      }
      @media only screen and (max-width: 480px) {
        top: 20px;
      }
      @media only screen and (max-width: 375px) {
        top: 16px;
      }
      @media only screen and (max-width: 320px) {
        top: 14px;
      }
      &:hover {
        opacity: .5;
      }
    }
  }

  .business_content {
    z-index: 100000;
  }
}

.slider-block {
  padding-top: 250px;
  padding-bottom: 117px;
  .col-xl-6 {
    @media only screen and (max-width: 1830px) {
      flex: 0 0 65%;
      max-width: 65%;
    }
    @media only screen and (max-width: 1440px) {
      flex: 0 0 58%;
      max-width: 58%;
    }
    @media only screen and (max-width: 1200px) {
      flex: 0 0 75%;
      max-width: 75%;
    }
    @media only screen and (max-width: 768px) {
      flex: 0 0 85%;
      max-width: 85%;
    }
    @media only screen and (max-width: 576px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  div {
    @media only screen and (max-width: 1830px) {
      justify-content: center!important;
    }
  }
  @media only screen and (max-width: 1830px) {
    padding-top: 190px;
    padding-bottom: 130px;
  }
  @media only screen and (max-width: 992px) {
    position: relative;
    top: 45px;
  }
  @media only screen and (max-width: 768px) {
    top: 110px;
  }
  @media only screen and (max-width: 576px) {
    top: 185px;
  }
  @media only screen and (max-width: 480px) {
    top: 225px;
  }
  @media only screen and (max-width: 375px) {
    top: 210px;
  }
  .logo-block {
    padding: 113px 0 74px 0;

    img {
      height: 73px;
    }
  }

  .title-block {
    width: 560px;
    position: relative;
    @media only screen and (max-width: 1830px) {
      width: auto!important;
      height: 100%;
    }
    .for-business-text {
      @media only screen and (max-width: 1830px) {
        display: none!important;
      }
    }
    .back-button-text {
      @media only screen and (max-width: 1830px) {
        display: none!important;
      }
    }
    .back-button {
      display: none;
      @media only screen and (max-width: 1830px) {
        display: inline-block;
      }
      @media only screen and (max-width: 1200px) {
        margin-top: -5px;
      }
      @media only screen and (max-width: 768px) {
        margin-top: -8px;
      }
      @media only screen and (max-width: 480px) {
        margin-top: -13px;
      }
    }
    .fa-caret-left:before {
      @media only screen and (max-width: 1830px) {
        color: $button-color-orange;
        font-size: 30px;
      }
    }
    h2 {
      font-size: 3.5rem;
      font-family:'Roboto-Bold', sans-serif;
      line-height: 80px;
      letter-spacing: 1px;
      color: $text-white;
      margin: 20px auto;
      a {
        display: none;
        @media only screen and (max-width: 1830px) {
         display: inline-block;
        }
      }
      @media only screen and (max-width: 1830px) {
        line-height: normal;
        font-size: 3rem;
        text-align: center;
      }
      @media only screen and (max-width: 768px) {
        margin: 25px auto 10px;
      }
      @media only screen and (max-width: 480px) {
        font-size: 22px;
      }

    }

    p {
      font-size: 1.375rem;
      line-height: 30px;
      color: $text-white;
    }

    i, button {
      color: $text-white;
    }

    i {
      color: #ffffff;
      font-size: 1.250rem;
      position: absolute;
      top: 22px;
      left: 0;
      @media only screen and (max-width: 1830px) {
        top: 15px;
        font-size: 20px;
      }
      @media only screen and (max-width: 1200px) {
        top: 15px;
        font-size: 20px;
      }
      @media only screen and (max-width: 768px) {
        top: 12px;
        font-size: 18px;
        left: 5px;
      }
      @media only screen and (max-width: 576px) {
        top: 10px;
        font-size: 16px;
      }
    }

    a {
      display: inline-block;
      cursor: pointer;

      span {
        font-size: 2.000rem;
        letter-spacing: 0.6px;
        color: $text-white;
        margin-left: 10px;
      }

    }
  }

  .login {
    margin-bottom: 30px;
  }

  form {
    @media only screen and (max-width: 1830px) {
      display: none!important;
    }
    input {
      max-width: 255px;
      height: 60px;
      @include rounded(10px);
      border: solid 1px #ffffff;
      background-color: #7893d6 !important;
      display: inline-block;
      color: $text-white;
      font-size: 1.375rem;
      line-height: 30px;
      padding-left: 30px;
      margin-bottom: 30px;

      &:first-child {
        float: right;
      }

      &:last-child {
        float: left;
      }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $text-white;
      font-size: 1.375rem;
      line-height: 30px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: $text-white;
      font-size: 1.375rem;
      line-height: 30px;
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: $text-white;
      font-size: 1.375rem;
      line-height: 30px;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $text-white;
      font-size: 1.375rem;
      line-height: 30px;
    }

    .green {
      width: 100%;
      height: 60px;
      @include rounded(10px);
      box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
      background-color: #1fdb84;
      font-size: 1.375rem;
      line-height: 1.64;
      letter-spacing: 0.3px;
      color: $text-white;
      margin-bottom: 20px;
    }

  }

  .get-start {
    @media only screen and (max-width: 1830px) {
      display: none!important;
    }
  }

  p {
    font-size: 1.375rem;
    line-height: 30px;
    color: $text-white;
    padding-bottom: 18px;
    @media only screen and (max-width: 1830px) {
      padding: 20px 0;
      margin-bottom: 0;
    }
    @media only screen and (max-width: 1200px) {
      padding: 20px 0;
      margin-bottom: 0;
    }
    @media only screen and (max-width: 992px) {
      padding: 20px 0;
    }
    span {
      font-weight: bold;
    }
  }
}
.for-business-text-responsive {
  display: none;
  @media only screen and (max-width: 1830px) {
    display: block;
    font-size: 1.375rem;
    line-height: 30px;
    color: #ffffff;
    margin-top: -60px;
    padding: 0 220px 20px 220px;
    text-align: center!important;
  }
  @media only screen and (max-width: 1440px) {
    margin-top: -25px;
    padding: 0 200px 20px 200px;
  }
  @media only screen and (max-width: 1200px) {
    margin-top: -40px;
    padding: 0 50px 20px 50px;
  }
  @media only screen and (max-width: 992px) {
    margin-top: 0;
    padding: 0 70px 20px 70px;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 15px;
  }
  @media only screen and (max-width: 576px) {
    margin-top: 88px;
    padding: 0 40px 20px 40px;
  }
  @media only screen and (max-width: 480px) {
    margin-top: 130px;
    padding: 0 15px 20px 15px;
  }
}

.modal-body {
  padding: 0;
  button {
    position: absolute;
    right: 10px;
    color: white;
    z-index: 100;
    font-size: 30px;
  }
}
