<section>
  <div class="slider-block container">
    <div class="row justify-content-lg-center justify-content-xl-end">
      <div class="col-lg-9 col-xl-6  business_content" *ngIf="state"
           [@bounceInLeftOnEnter]="{ value: '', params: { delay: 100 }}"
           [@bounceOutLeftOnLeave]="{ value: '', params: { delay: 200 }}">
        <div class="title-block">
          <i class="fas fa-caret-left back-button-text"></i><a routerLink="/home" class="btn back-button-text"><span class="back-button-text">Back</span></a>
          <h2>
            <a routerLink="/home" class="btn"><i class="fas fa-caret-left back-button"></i></a>
            For Businesses
          </h2>
          <p class="text-center text-xl-left for-business-text">
            Companies get a powerful tool for efficient, fast and dynamic management via simultaneous implementation
            of loyalty, advertising, marketing and other programs. Eventually, this leads to an improvement in the quality
            of goods and services, increased competitiveness,
            number of customers, sales and profits.
          </p>
        </div>
        <form class="d-none d-xl-block" [formGroup]="loginGroup" novalidate (submit)="loginUser(loginGroup.value, loginGroup.valid)">
          <div class="form-group">
            <input formControlName="login" name="login" autocomplete="false" type="text" class="form-control"
                   placeholder="Login">
          </div>
          <div class="form-group">
            <input formControlName="password" name="password" type="password" class="form-control" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">
              <a *ngIf="false">Forgot your password?</a>
            </small>
          </div>
          <button type="button" class="btn green">Get Started</button>
        </form>
        <!--<div class="row login">-->
          <!--<div class="col">-->
            <!--<button type="button" class="btn btn-outline-light custom-button">Login</button>-->
          <!--</div>-->
          <!--<div class="col">-->
            <!--<button type="button" class="btn btn-outline-light custom-button">Password</button>-->
          <!--</div>-->
        <!--</div>-->
        <div class="row get-start d-xl-block">
          <div class="col">
            <!--<button type="button" class="btn green">Get Started</button>-->
            <p>New to MONEO? <span><a routerLink="/registration" style="color: #ffffff">Get Registered</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="iPad" *ngIf="state"
       [@bounceInLeftOnEnter]="{ value: '', params: { delay: 200 }}"
       [@bounceOutLeftOnLeave]="{ value: '', params: { delay: 100 }}">
    <img class="ipad-svg d-none d-xl-block" src="../../assets/ipad-files/iPad.svg" alt="">
    <img class="ipad-png" src="../../assets/ipad-files/iPad.png" alt="">
    <img class="ipad-photo" src="../../assets/ipad-files/ipad%20background.png" alt="">
    <!--<a class="play-button" (click)="openModal(template)">-->
    <!--<img src="../../assets/ipad-files/play%20button.svg" alt="">-->
    <!--</a>-->
    <a class="play-button"  (click)="playVideo()" *ngIf="!play">
      <img src="../../assets/ipad-files/play%20button.svg"  data-video="video" alt="play%20button.svg">
    </a>
    <video (ended)="vidEnded($event)" *ngIf="play" src="../../assets/moneo-video/moneo.mp4" autoplay controls id="myVideo"></video>
    <button *ngIf="play" type="button" class="close pull-right" aria-label="Close" (click)="closeVideo()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p class="text-center text-xl-left for-business-text-responsive"
     [@bounceInLeftOnEnter]="{ value: '', params: { delay: 200 }}"
     [@bounceOutLeftOnLeave]="{ value: '', params: { delay: 100 }}">
    Companies get a powerful tool for efficient, fast and dynamic management via simultaneous implementation
    of loyalty, advertising, marketing and other programs. Eventually, this leads to an improvement in the quality
    of goods and services, increased competitiveness,
    number of customers, sales and profits.
  </p>
</section>

<!--<ng-template #template>-->
  <!--<div class="modal-body">-->
    <!--<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">-->
      <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
    <!--<div class="embed-responsive embed-responsive-16by9">-->
      <!--<iframe width="1182" height="665" src="https://www.youtube.com/embed/qeMFqkcPYcg?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
      <!--&lt;!&ndash;<video  autoplay="" style="height: 106%">&ndash;&gt;-->
        <!--&lt;!&ndash;<source src="https://youtu.be/qeMFqkcPYcg" type="video/mp4">&ndash;&gt;-->
        <!--&lt;!&ndash;Your browser does not support the video tag.&ndash;&gt;-->
      <!--&lt;!&ndash;</video>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</ng-template>-->

