//$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;


$text-color: #2d2d2d;
$text-black: #000000;
$text-white: #ffffff;
$icon-color-green: #1fdb84;
$icon-color-darkBlue: #546ec1;
$button-color-orange: #fb8966;

@mixin google-fonts($name) {
  @import url(https://fonts.googleapis.com/css?family=#{$name});
}

@mixin rounded($radius) {
  border-radius: $radius;
}
