<div class="back-button container">
  <i class="fas fa-caret-left"></i>
  <a routerLink="/business" class="btn back-link" (click)="change(true)">
    <span>Back</span>
  </a>
</div>

<div class="reg-block scrollingContainer">
  <div class="reg-form-block container ">
    <h2 class="middle-title text-center">Registration (for businesses)</h2>
    <p class="reg-text"></p>
    <div class="row">

      <div class="col-md-12">

        <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit(template, formGroup.value, formGroup.valid)">
          <div class="row justify-content-center justify-content-xl-between">

            <div class="col-6 form-group">
              <input type="text" id="username" formControlName="username"
                     [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                     name="username" class="form-control"
                     placeholder="Username">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>

            <div class="col-6 form-group">
              <input type="text" id="company_legal_name" formControlName="company_legal_name"
                     [ngClass]="{ 'is-invalid': submitted && f.company_legal_name.errors }"
                     name="company_legal_name" class="form-control"
                     placeholder="Company Legal Name">
              <div *ngIf="submitted && f.company_legal_name.errors" class="invalid-feedback">
                <div *ngIf="f.company_legal_name.errors.required">Company Legal Name is required</div>
              </div>
            </div>

            <div class="col-6 form-group">
              <input type="password" id="password" formControlName="password"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                     name="password" class="form-control"
                     placeholder="Password">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>

            <div class="col-6 form-group">
              <input type="text" id="brand" formControlName="brand" name="brand" class="form-control"
                     placeholder="Brand">
            </div>

            <div class="col-6 form-group">
              <input type="password" id="confirmPassword" formControlName="confirmPassword"
                     [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                     name="confirmPassword" class="form-control"
                     placeholder="Retype Password">
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Retype Password is required</div>
                <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
                <div *ngIf="f.confirmPassword.errors?.MatchPassword">Password not match</div>
              </div>
            </div>

            <div class="col-6 form-group">
              <input type="text" id="country" formControlName="country"
                     [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                     name="country" class="form-control"
                     placeholder="Country">
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required</div>
              </div>
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="city" formControlName="city" name="city" class="form-control"
                     placeholder="City">
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="address" formControlName="address"
                     [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                     name="address" class="form-control"
                     placeholder="Address">
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="telephone" formControlName="telephone"
                     [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"
                     name="telephone" class="form-control"
                     placeholder="Telephone">
              <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                <div *ngIf="f.telephone.errors.required">Telephone is required</div>
              </div>
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="website" formControlName="website" name="website" class="form-control"
                     placeholder="Website">
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="email" formControlName="email" name="email"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                     class="form-control" placeholder="E-Mail">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">E-Mail is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="company_tax_code"
                     formControlName="company_tax_code" name="company_tax_code" class="form-control"
                     placeholder="Company Tax Code">
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="contact_person" formControlName="contact_person"
                     [ngClass]="{ 'is-invalid': submitted && f.contact_person.errors }"
                     name="contact_person" class="form-control"
                     placeholder="Contact Person (Representative)">
              <div *ngIf="submitted && f.contact_person.errors" class="invalid-feedback">
                <div *ngIf="f.contact_person.errors.required">Contact Person is required</div>
              </div>
            </div>

            <div class="col-6 form-group"></div>

            <div class="col-6 form-group">
              <input type="text" id="position" formControlName="position"
                     [ngClass]="{ 'is-invalid': submitted && f.position.errors }"
                     name="position" class="form-control"
                     placeholder="Position of Contact Person">
              <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                <div *ngIf="f.position.errors.required">Position of Contact Person is required</div>
              </div>
            </div>

            <div class="text-center col-12 form-group">
              <div class="submit-block">
                <button type="submit" class="btn submit-button">Submit</button>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>

  <ng-template #template>
    <div class="modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="success-block col-12 container">
        <p>Thank You for registration!</p>
        <span>You will get a confirmation E-Mail in about 3 days.</span>
      </div>
    </div>
  </ng-template>

  <div class="footer-logo container">
    <div class="row justify-content-between">
      <div class="col align-middle text-left" style="line-height: 50px">
        <p class="copyright">&copy; 2019 moneo llc</p>
      </div>
      <div class="col year fs16 align-middle text-right">
        <div class="logo" id="footer-block">
          <a routerLink="/">
            <img src="../../assets/moneo-logo/main-logo.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
