@import "../../assets/scss/variables";

.reg-block {
  margin-top: 228px;
}

.back-button {
  position: relative;
  top: 40px;

  i {
    position: absolute;
    top: 20px;
    font-size: 1.4rem;
    @media only screen and (max-width:1200px) {
      top: 18px;
    }
    @media only screen and (max-width:992px) {
      top: 16px;
    }
    @media only screen and (max-width:768px) {
      top: 13px;
    }
  }

  .back-link {
    font-size: 2.000rem;
    letter-spacing: 0.6px;
    color: $text-color;
    margin-left: 10px;
  }
}


.reg-form-block {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: -100px;
  padding: 40px 60px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  background-color: #ffffff;
  @media only screen and (max-width:480px) {
    padding: 20px;
  }
  .reg-text {
    font-size: 1.125rem;
    color: $text-black;
    line-height: 27px;
    margin-bottom: 50px;
  }

  .big-title, .middle-title {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 2.875rem;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 60px;
    @media only screen and (max-width:768px) {
      font-size: 22px;
    }
    @media only screen and (max-width:375px) {
      font-size: 18px;
    }
  }

  .row {
    .col-6 {
      max-width: 490px;
      position: relative;

      &:nth-child(even) {
        margin-right: 30px;
        @media only screen and (max-width:1200px) {
          margin-right: 0;
        }
      }

      &:before {
        content: "*";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.375rem;
        color: $button-color-orange;
      }

      &:nth-child(4):before {
        content: none;
      }

      &:nth-child(n+7):nth-child(-n+8):before {
        content: none;
      }

      &:nth-child(n+9):nth-child(odd):before {
        content: none;
      }

      &:nth-child(14):before {
        content: none;
      }

      &:nth-child(18):before {
        content: none;
      }

      .form-group {
        display: inline-block;
      }

      .form-control {
        height: 60px;
        width: 460px;
        max-width: 100%;
        padding: 12px 20px;
        font-size: 1.375rem;
        font-weight: bold;
        letter-spacing: 0.3px;
        margin-bottom: 16px;
        line-height: 36px;
        border-radius: 10px;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid $button-color-orange;
      }

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #bdbdbd;
      }

      ::-moz-placeholder { /* Firefox 19+ */
        color: #bdbdbd;
      }

      :-ms-input-placeholder { /* IE 10+ */
        color: #bdbdbd;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: #bdbdbd;
      }

    }

    .submit-block {
      max-width: 738px;
      margin: 60px auto 0;

      .submit-button {
        border-radius: 10px;
        background-color: #fb8966;
        color: #ffffff;
        outline: none;
        font-size: 1.375rem;
        font-weight: bold;
        padding: 8px 45px;
        letter-spacing: 0.3px;
        text-align: center;
        height: 60px;
        width: 100%;
      }
    }

  }

}


.modal-body {
  padding: 2.5rem;

  .close {
    position: absolute;
    right: 9px;
    top: 3px;
  }

  .success-block {
    max-width: 738px;
    //margin: 0 auto 100px;
    border-radius: 10px;
    background-color: #fb8966;
    color: #ffffff;
    outline: none;
    padding: 72px 78px;
    font-size: 1.375rem;
    letter-spacing: 0.3px;
    text-align: center;
    width: 100%;
    box-shadow: 0 10px 34px 0 rgba(0, 0, 0, 0.25);

    p {
      font-family: 'Roboto-Bold', sans-serif;
      margin-bottom: 50px;
    }

    span {
      font-family: 'Roboto', sans-serif;
    }
  }
}

