<section>
  <div class="slider-block container">
    <div class="row">
      <div class="col-md-12 col-lg-6" *ngIf="state"
           [@bounceInRightOnEnter]="{ value: '', params: { delay: 100 }}"
           [@bounceOutRightOnLeave]="{ value: '', params: { delay: 200 }}">
        <i class="fas fa-caret-left"></i>
        <a routerLink="/home" class="btn back-button"
           (click)="change(true)"><span>Back</span>
        </a>
        <h2>
          For Customers
        </h2>
        <div class="title-block">
          <p>The customer (MONEO App user) interactively sees businesses, targeted offers, instantly receives bonuses
            and discounts, makes payments via smart phone, saves time, money and gets many other advantages.
          </p>
        </div>
        <div class="row store-block">
          <div class="col-lg-6">
            <div class="download-block">
              <div class="row flex-column">
                <div class="col">
                  <a href="https://itunes.apple.com/us/app/moneo/id1400021507?ls=1&mt=8">
                    <img class="page-welcome-download-apple size" src="../../assets/store/appstore.svg" alt="appstore.svg">
                  </a>
                </div>
                <div class="col">
                  <a href="#">
                    <img class="page-welcome-download-android size" src="../../assets/store/google%20play.svg" alt="google%20play.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="qr-block">
              <img src="../../assets/moneo-logo/image.png" width="150" height="150" alt="">
            </div>
          </div>
        </div>
        <div class="iphone-small" style="display: none">
          <img src="../../assets/iphone/iphone.png" style="position: absolute" class="iphone-img" alt="iphone.svg">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/carousel/1.png" class="d-block w-100" alt="carousel1.png">
              </div>
              <div class="carousel-item">
                <img src="../../assets/carousel/2.png" class="d-block w-100" alt="carousel2.png">
              </div>
              <div class="carousel-item">
                <img src="../../assets/carousel/3.png" class="d-block w-100" alt="carousel3.png">
              </div>
              <div class="carousel-item">
                <img src="../../assets/carousel/4.png" class="d-block w-100" alt="carousel4.png">
              </div>
              <div class="carousel-item">
                <img src="../../assets/carousel/5.png" class="d-block w-100" alt="carousel5.png">
              </div>
              <div class="carousel-item">
                <img src="../../assets/carousel/6.png" class="d-block w-100" alt="carousel5.png">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" #myDiv href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-4 col-lg-6 iphone text-center" *ngIf="state"
           [@bounceInRightOnEnter]="{ value: '', params: { delay: 200 }}"
           [@bounceOutRightOnLeave]="{ value: '', params: { delay: 100 }}">
        <img src="../../assets/iphone/iphone.png" style="position: absolute" class="iphone-img" alt="iphone.svg">
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/carousel/1.png" class="d-block w-100" alt="carousel1.png">
            </div>
            <div class="carousel-item">
              <img src="../../assets/carousel/2.png" class="d-block w-100" alt="carousel2.png">
            </div>
            <div class="carousel-item">
              <img src="../../assets/carousel/3.png" class="d-block w-100" alt="carousel3.png">
            </div>
            <div class="carousel-item">
              <img src="../../assets/carousel/4.png" class="d-block w-100" alt="carousel4.png">
            </div>
            <div class="carousel-item">
              <img src="../../assets/carousel/5.png" class="d-block w-100" alt="carousel5.png">
            </div>
            <div class="carousel-item">
              <img src="../../assets/carousel/6.png" class="d-block w-100" alt="carousel5.png">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" #myDiv href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
