@import "../../assets/scss/variables";

section {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: -100px;
  background-image: url("../../assets/moneo-logo/fon.png");
  background-size: cover;
  -webkit-mask-image: url("../../assets/moneo-logo/maska.png");
  mask-image: url("../../assets/moneo-logo/maska.png");
  -webkit-mask-position: center center;
  mask-position: center center;
  z-index: 20;
  //overflow-x: hidden;

  @media only screen and (max-width: 1200px) {
    top: -200px;
  }
  @media only screen and (max-width: 992px) {
    top: -240px;
  }
  @media only screen and (max-width: 768px) {
    top: -315px;
  }
  @media only screen and (max-width: 576px) {
    top: -390px;
  }
  @media only screen and (max-width: 480px) {
    top: -430px;
  }
  @media only screen and (max-width: 387px) {
    top: -410px;
  }
}

.slider-block {
  padding-top: 236px;
  @media only screen and (max-width: 992px) {
    position: relative;
    top: -10px;
  }
  @media only screen and (max-width: 768px) {
    top: 280px;
  }
  @media only screen and (max-width: 576px) {
    top: 370px;
  }
  @media only screen and (max-width: 480px) {
    top: 410px;
  }
  @media only screen and (max-width: 387px) {
    top: 400px;
  }

  .store-block {
    @media only screen and (max-width: 992px) {
      padding-right: 100px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 50px;
      padding-right: 70px;
    }
    @media only screen and (max-width: 576px) {
      padding-right: 40px;
    }
    @media only screen and (max-width: 480px) {
      padding-right: 0;
      margin-top: 25px;
    }
  }


  .small-iphone {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    padding-top: 50px;
  }
  @media only screen and (max-width: 576px) {
    padding-top: 20px;
    .small-iphone {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }
  }

  .back-button {
    @media only screen and (max-width: 992px) {
      position: relative;
      top: 30px;
    }
    @media only screen and (max-width: 768px) {
      top: 0;
    }
    @media only screen and (max-width: 576px) {
      top: 17px;
    }
  }

  i {
    font-size: 1.250rem;
    position: absolute;
    top: 23px;
    left: 15px;
    color: $text-white;
    @media only screen and (max-width: 1200px) {
      top: 17px;
    }
    @media only screen and (max-width: 992px) {
      top: 47px;
    }
    @media only screen and (max-width: 768px) {
      top: 14px;
    }
    @media only screen and (max-width: 576px) {
      top: 30px;
    }
  }

  .logo-block {
    padding: 113px 0 74px 0;

    img {
      height: 73px;
    }
  }

  h2 {
    font-size: 3.5rem;
    font-family: 'Roboto-Bold', sans-serif;
    line-height: 80px;
    letter-spacing: 1px;
    color: $text-white;
    margin: 20px auto 30px;
    @media only screen and (max-width: 992px) {
      margin: 60px auto 30px;
      font-size: 30px;
      line-height: 0;
      float: right;
    }
    @media only screen and (max-width: 768px) {
      margin: 20px auto 30px;
    }
    @media only screen and (max-width: 576px) {
      margin: 40px auto 20px;
      font-size: 22px;
    }
    @media only screen and (max-width: 375px) {
      margin: 35px auto 20px;
    }
  }

  .title-block {
    margin-top: 57px;
    position: relative;
    margin-bottom: 44px;
    @media only screen and (max-width: 992px) {
      text-align: center;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    @media only screen and (max-width: 576px) {
      margin-top: 40px;
    }

    p {
      font-size: 1.375rem;
      line-height: 30px;
      color: $text-white;
      @media only screen and (max-width: 576px) {
        line-height: 20px;
      }
    }

    button {
      color: $text-white;
    }

  }

  a {
    display: inline-block;
    cursor: pointer;

    span {
      font-size: 2.000rem;
      letter-spacing: 0.6px;
      color: $text-white;
      margin-left: 10px;
    }

  }

}

.download-block {
  .row {
    .col {
      width: 222px;
      height: 66px;
      @media only screen and (max-width: 992px) {
        align-self: flex-end;
      }
      @media only screen and (max-width: 576px) {
        width: 180px!important;
      }
      @media only screen and (max-width: 480px) {
        width: 150px!important;
      }
      @media only screen and (max-width: 375px) {
        width: 130px!important;
      }
      .page-welcome-download-android {
        height: 67px;
      }

      &:first-child {
        margin-bottom: 40px;
        @media only screen and (max-width: 480px) {
         margin-bottom: 10px!important;
        }
        @media only screen and (max-width: 375px) {
          margin-bottom: 0!important;
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      .size {
        width: 222px;
        height: 66px;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    }
  }
}

.qr-block {
  width: 173px;
  height: 173px;
  border-radius: 8px;
  padding: 12px;
  background-color: $text-white;
  @media only screen and (max-width: 992px) {
    margin-top: 30px;
    float: right;
  }
  @media only screen and (max-width: 576px) {
    width: 150px;
    height: 150px;
  }
  @media only screen and (max-width: 480px) {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
  @media only screen and (max-width: 375px) {
    width: 100px;
    height: 100px;
  }
  img {
    @media only screen and (max-width: 576px) {
      width: 130px;
      height: 130px;
    }
    @media only screen and (max-width: 480px) {
      width: 100px;
      height: 100px;
    }
    @media only screen and (max-width: 375px) {
      width: 80px;
      height: 80px;
    }
  }
}


.iphone, .iphone-small {

  padding-bottom: 90px;
  @media only screen and (max-width: 992px) {
    padding-bottom: 30px;
  }

  img {
    display: inline-block;
  }

  .iphone-img {
    height: 725px;
    position: absolute;
    left: 115px;
    z-index: 100;
    @media only screen and (max-width: 992px) {
      left: 0;
      height: 558px;
    }
    @media only screen and (max-width: 768px) {
      height: 500px;
    }
    @media only screen and (max-width: 576px) {
      height: 450px;
    }
    @media only screen and (max-width: 480px) {
      height: 400px;
    }
    @media only screen and (max-width: 375px) {
      left: 0;
    }

  }

  .carousel {
    width: 288px;
    left: 162px;
    top: 15px;
    @media only screen and (max-width: 992px) {
      left: 47px;
    }
    @media only screen and (max-width: 768px) {
      left: 42px;
    }
    @media only screen and (max-width: 576px) {
      left: 38px;
    }
    @media only screen and (max-width: 576px) {
      left: 34px;
    }
    @media only screen and (max-width: 480px) {
      top: 4px;
    }
  }

  .carousel-inner {
    border-radius: 20px;
    @media only screen and (max-width: 992px) {
      width: 78%;
    }
    @media only screen and (max-width: 768px) {
      width: 69%;
    }
    @media only screen and (max-width: 576px) {
      width: 62%;
    }
    @media only screen and (max-width: 480px) {
      width: 55%;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 20px!important;
    z-index: 110;
    display: flex;
    align-items: flex-end!important;
    justify-content: center;
    width: 25%!important;
    color: #fff;
    text-align: center;
    opacity: 1!important;
    transition: opacity 0.15s ease;
    @media only screen and (max-width: 768px) {
      width: 22%!important;
    }
    @media only screen and (max-width: 480px) {
      width: 18%!important;
    }
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 60px;
    height: 60px;
    @media only screen and (max-width: 992px) {
      width: 50px;
      height: 50px;
    }
    @media only screen and (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }


  .carousel-control-next-icon {
    background-image: url("../../assets/carousel-buttons/button-right.png")
  }

  .carousel-control-prev-icon {
    background-image: url("../../assets/carousel-buttons/button-left.png")
  }

  .carousel-control-prev {
    left: 70px;
    @media only screen and (max-width: 992px) {
      left: 35px;
    }
    @media only screen and (max-width: 576px) {
      left: 25px;
    }
    @media only screen and (max-width: 480px) {
      left: 20px;
    }
  }
  .carousel-control-next {
    right: 70px;
    @media only screen and (max-width: 992px) {
      left: 105px;
    }
    @media only screen and (max-width: 768px) {
      left: 95px;
    }
    @media only screen and (max-width: 576px) {
      left: 82px;
    }
  }


  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
  }

  .carousel-item {
    img {
      height: 637px;
      @media only screen and (max-width: 992px) {
        height: 480px;
      }
      @media only screen and (max-width: 768px) {
        height: 450px;
      }
      @media only screen and (max-width: 576px) {
        height: 400px;
      }
      @media only screen and (max-width: 480px) {
        height: 360px;
      }
    }
    @media only screen and (max-width: 992px) {
      height: 490px;
    }
    @media only screen and (max-width: 768px) {
      height: 450px;
    }
    @media only screen and (max-width: 576px) {
      height: 405px;
    }
    @media only screen and (max-width: 480px) {
      height: 370px;
    }
  }


}

.iphone {
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.iphone-small {
  @media only screen and (max-width: 992px) {
    position: absolute;
    top: 215px;
    display: block!important;
    width: 330px;
  }
  @media only screen and (max-width: 992px) {
    margin-left: 40px;
  }
  @media only screen and (max-width: 768px) {
    top: 170px;
    left: 0;
    margin-left: 30px;
  }
  @media only screen and (max-width: 576px) {
    margin-left: 20px;
  }
  @media only screen and (max-width: 480px) {
    margin-left: 0;
  }
  @media only screen and (max-width: 375px) {
    top: 190px;
    margin-left: -10px;
  }

}

@media only screen and (max-width: 992px) {
  .download-block {
    .row {
      .col {
        width: 204px;
        height: 60px !important;

        .page-welcome-download-android {
          height: 60px !important;
        }

        &:first-child {
          margin-bottom: 30px;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
        }

        .size {
          width: 204px;
          min-height: 60px !important;
          background-position: center center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
      }
    }
  }
}

