<div class="back-button container">
  <i class="fas fa-caret-left"></i>
  <a routerLink="/home" class="btn back-link" (click)="change(true)">
    <span>Back</span>
  </a>
</div>

<div class="reg-block scrollingContainer">
  <div class="reg-form-block container ">
    <div class="row">

      <div class="col-md-12">

        <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit(template, formGroup.value, formGroup.valid)">
          <div class="row justify-content-between">

            <div class="col-6 form-group">
              <input type="text" id="name" formControlName="name"
                     [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                     name="name" class="form-control"
                     placeholder="Name">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>

            <div class="col-6 form-group">
              <input type="text" id="country" formControlName="country"
                     [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                     name="country" class="form-control"
                     placeholder="Country">
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required</div>
              </div>
            </div>

            <div class="col-6 form-group">
              <input type="text" id="email" formControlName="email" name="email"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                     class="form-control" placeholder="E-Mail">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">E-Mail is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>

            <div class="col-6 form-group">
              <input type="text" id="telephone" formControlName="telephone"
                     [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"
                     name="telephone" class="form-control"
                     placeholder="Telephone">
              <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                <div *ngIf="f.telephone.errors.required">Telephone is required</div>
              </div>
            </div>

            <div class="col-12 form-group">
              <textarea type="text" id="message" formControlName="message"
                     [ngClass]="{ 'is-invalid': submitted && f.message.errors }"
                     name="message" class="form-control"
                     placeholder="Your message">
                </textarea>
              <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors.required">Your message is required</div>
              </div>
            </div>

            <div class="text-center col form-group">
              <div class="submit-block">
                <button type="submit" class="btn submit-button">Submit</button>
              </div>
            </div>
          </div>
        </form>

      </div>

    </div>
      <div class="doc-content">
        <div class="row">
          <div class="col">
            <h5>Offices by countries:</h5>
            <p>Armenia, Yerevan</p>
            <p>Address: 50 Mesrop Mashtots Ave, Yerevan 0009, ARMENIA</p>
            <p>Phone: + (374 12) 30-30-30</p>
          </div>
        </div>
      </div>
    </div>

  <ng-template #template>
    <div class="modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="success-block col-12 container">
        <p>Thank You</p>
        <span>Your message has been sent successfully</span>
      </div>
    </div>
  </ng-template>

  <div class="footer-logo container">
    <div class="row justify-content-between">
      <div class="col align-middle text-left" style="line-height: 50px">
        <p class="copyright">&copy; 2019 moneo llc</p>
      </div>
      <div class="col year fs16 align-middle text-right">
        <div class="logo" id="footer-block">
          <a routerLink="/">
            <img src="../../assets/moneo-logo/main-logo.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



