@import "../../assets/scss/variables";

:host {
  scroll-behavior: smooth!important;
}

.box {
  width: 400px;
  height: 100px;
  background: red;
}

header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);

  .row {
    margin: 0 auto;

    .col {
      select {
        min-width: 4rem;
        @include rounded(10px);
        box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
        border: none;
        top: 90% !important;
        padding-top: 5px;

        li {
          line-height: 25px;

          a {
            color: #546ec1;
            padding: 0.25rem 1rem;
            text-align: center;
            cursor: pointer;

            &:active {
              color: $text-white;
              text-decoration: none;
              background-color: #b7f1ff;
            }
          }
        }
      }

      .btn {
        color: #546ec1;
      }

      .btn-group > button {
        font-weight: bold;
      }

      .header-button-link {
        @include rounded(10px);
        max-width: 280px;
        min-height: 43px;
        font-weight: bold;
        line-height: -55px;
        padding: 8px 45px;
        letter-spacing: 0.3px;
        text-align: center;
        outline: none;
        color: #ffffff;
        background-color: #fb8966;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
        @media only screen and (max-width: 1200px) {
          line-height: 20px;
          padding: 8px 42px;
        }
        @media only screen and (max-width: 992px) {
          padding: 6px 20px;
        }
        &:active {
          outline: none;
        }

        &:focus {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35) !important;
        }
      }

      .logo {
        padding: 24px 15px;

        h1 {
          display: inline-block;
          text-indent: -50em;
          line-height: 0;
        }

        a {
          display: inline-block;
          cursor: pointer;
        }

      }

      &:first-child {
        max-width: 520px;
        min-width: 170px;
      }


      //&:nth-child(n+2):nth-child(-n+5) {
      //  line-height: 80px;
      //}

      &:nth-child(2) {
        padding-left: 130px;
        @media only screen and (max-width: 992px) {
          padding-left: 0;
        }
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }


      &:nth-child(4) {
        max-width: 140px;

        ul {
          min-width: 6rem;
          left: 6px;
        }

        @media only screen and (max-width: 576px) {
          display: none;
        }
      }

      &:nth-child(3) {
        max-width: 100px;
        text-align: center;
        @media only screen and (max-width: 576px) {
          display: none;
        }
      }

      &:last-child {
        text-align: end;
        max-width: 100px;
        @media only screen and (max-width: 576px) {
          display: none;
        }

        a {
          color: #546ec1;
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }

}

.title {
  color: $text-color;
  padding-top: 40px;
  @media only screen and (max-width: 480px) {
    padding-top: 20px;
  }
  .circle-block-hidden {
    display: none;
    @media only screen and (max-width: 992px) {
      display: block;
    }
  }
}


.big-title, .middle-title {
  width: 100%;
  //white-space: nowrap;
  font-size: 2.875rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  @media only screen and (max-width: 480px) {
    font-size: 22px;
  }
}

.middle-title {
  font-size: 2.625rem;

  & + p {
    @media only screen and (max-width: 1200px) {
      padding-right: 65px !important;
    }
    @media only screen and (max-width: 992px) {
      padding-right: 0 !important;
      margin: 0 80px;
    }
    @media only screen and (max-width: 480px) {
      padding-right: 0 !important;
      margin: 0 70px;
    }
  }
}

main {
  .slider-blocks {
    width: 100%;
    min-height: 940px;
    @media only screen and (max-width: 1200px) {
      min-height: 800px;
    }
    @media only screen and (max-width: 992px) {
      min-height: 745px;
    }
    @media only screen and (max-width: 768px) {
      min-height: 655px;
    }
    @media only screen and (max-width: 576px) {
      min-height: 580px;
    }
    @media only screen and (max-width: 480px) {
      min-height: 520px;
    }
    //background-image: url("../../assets/moneo-logo/fon.png");
    //background-size: cover;
    //-webkit-mask-image: url("../../assets/moneo-logo/maska.png");
    //mask-image: url("../../assets/moneo-logo/maska.png");
    //-webkit-mask-position: center center;
    //mask-position: center center;
    position: relative;
    //top: -80px;
    //-webkit-mask-repeat: no-repeat;
    //mask-repeat: no-repeat;
  }

  .top-section {
    padding-bottom: 100px;
    margin-top: 70px;
    @media only screen and (max-width: 1200px) {
      padding-bottom: 60px;
      margin-top: 50px;
    }
    @media only screen and (max-width: 992px) {

    }
    @media only screen and (max-width: 768px) {

    }
    @media only screen and (max-width: 576px) {
      padding-bottom: 0;
    }
    @media only screen and (max-width: 480px) {
      margin-top: 80px;
    }
    @media only screen and (max-width: 370px) {
      padding-bottom: 35px!important;
    }


    .row {
      p {
        font-size: 1.125rem;
        line-height: 1.22;
        @media only screen and (max-width: 576px) {
          font-size: 15px!important;
        }
      }
    }
    .registration-form {
      display: none;
      @media only screen and (max-width: 1830px) {
        display: block;
        width: 67%;
        margin: 0 auto 75px;
        padding: 0 40px;
      }
      @media only screen and (max-width: 1200px) {
        margin: 0 auto 20px;
      }
      @media only screen and (max-width: 992px) {
        width: 75%;
        padding: 0;
      }
      @media only screen and (max-width: 768px) {
        margin: 20px auto;
      }
      @media only screen and (max-width: 576px) {
        padding-bottom: 0;
      }
      .login {
        margin-bottom: 30px;
      }

      form {
        input {
          max-width: 255px;
          height: 60px;
          @include rounded(10px);
          border: solid 1px #1fdb84;
          background-color: transparent;
          display: inline-block;
          color: $text-color;
          font-size: 1.375rem;
          line-height: 30px;
          padding-left: 30px;
          margin-bottom: 30px;
          @media only screen and (max-width: 768px) {
            max-width: 100%;
          }
          @media only screen and (max-width: 576px) {
            font-size: 15px;
          }
          @media only screen and (max-width: 480px) {
            height: 50px;
          }
          &:first-child {
            float: right;
          }

          &:last-child {
            float: left;
          }
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $text-color;
          font-size: 1.375rem;
          line-height: 30px;
          @media only screen and (max-width: 576px) {
            font-size: 15px;
          }
        }

        ::-moz-placeholder { /* Firefox 19+ */
          color: $text-color;
          font-size: 1.375rem;
          line-height: 30px;
          @media only screen and (max-width: 576px) {
            font-size: 15px;
          }
        }

        :-ms-input-placeholder { /* IE 10+ */
          color: $text-color;
          font-size: 1.375rem;
          line-height: 30px;
          @media only screen and (max-width: 576px) {
            font-size: 15px;
          }
        }

        :-moz-placeholder { /* Firefox 18- */
          color: $text-color;
          font-size: 1.375rem;
          line-height: 30px;
          @media only screen and (max-width: 576px) {
            font-size: 15px;
          }
        }

        .green {
          width: 100%;
          height: 60px;
          @include rounded(10px);
          box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
          background-color: #1fdb84;
          font-size: 1.375rem;
          line-height: 1.64;
          letter-spacing: 0.3px;
          color: $text-white;
          margin-bottom: 20px;
          @media only screen and (max-width: 576px) {
            font-size: 15px;
          }
          @media only screen and (max-width: 480px) {
            height: 50px;
          }
        }

      }

      p {
        font-size: 1.375rem;
        line-height: 30px;
        color: $text-color;
        padding-bottom: 18px;
        @media only screen and (max-width: 1200px) {
          padding: 20px 0;
          margin-bottom: 0;
          font-size: 15px;
        }
        @media only screen and (max-width: 992px) {
          padding: 20px 0;
        }
        span {
          font-weight: bold;
        }
      }
    }

    ul {

      .abs_content {
        position: absolute;
        top: 0;
        left: 5px;
        visibility: hidden;
        opacity: 0;
        height: 105px;
        z-index: -1;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        @media only screen and (max-width: 992px) {
          left: 35px;
        }
        @media only screen and (max-width: 768px) {
          left: 95px;
        }
        @media only screen and (max-width: 715px) {
          left: 95px;
        }
        @media only screen and (max-width: 700px) {
          left: 87px;
        }
        @media only screen and (max-width: 670px) {
          left: 74px;
        }
        @media only screen and (max-width: 650px) {
          left: 63px;
        }
        @media only screen and (max-width: 630px) {
          left: 54px;
        }
        @media only screen and (max-width: 610px) {
          left: 45px;
        }
        @media only screen and (max-width: 590px) {
          left: 36px;
        }
        @media only screen and (max-width: 576px) {
          left: 0;
        }
      }

      .active_content_link {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        height: 100%;
        overflow: auto;
        transition-delay: 0s, 0s, 0.3s;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;

        &:hover {
          box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.7);
        }
      }

      li {
        cursor: pointer;
        @media only screen and (max-width: 576px) {
         margin: 0 auto;
        }
        &:hover {
          box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.7);
          @include rounded(10px);
        }

        border: solid 1px #546ec1;
        outline-offset: 1px;
        max-width: 360px;
        height: 105px;
        @include rounded(10px);
        background-color: $text-white;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        @media only screen and (max-width: 576px) {
          height: 80px!important;
          max-width: 80%!important;
        }

        &:nth-child(n+7):nth-child(-n+8) {
          margin-bottom: 0;
          @media only screen and (max-width: 576px) {
            margin-bottom: 30px;
          }
        }


        &:nth-child(odd) {
          margin-right: 30px;
          @media only screen and (max-width: 576px) {
            margin-right: auto!important;
          }
        }

        .small-title {
          display: inline-block;
          font-size: 1.375rem;
          font-weight: bold;
          line-height: 105px;
          letter-spacing: 0.2px;
          color: $text-color;
          cursor: pointer;
          @media only screen and (max-width: 576px) {
            line-height: 80px!important;
          }
        }

        .slider-icon {
          display: inline-block;
          margin: 0 35px 0;
          width: 36px;
          height: 36px;
        }

        .content_text {
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 25px;
          letter-spacing: normal;
          color: $text-black;
        }
      }
    }

  }

  .main-features-block {
    position: relative;
    top: 150px;
    @media only screen and (max-width: 480px) {
      top: 100px;
    }
    @media only screen and (max-width: 350px) {
      top: 50px;
    }
    .main-block {
      @include rounded(20px);
      box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
      background-color: $text-white;
      position: relative;
      top: -100px;
      margin-bottom: 41px;
      min-height: 1200px;
      overflow: hidden;
      @media only screen and (max-width: 992px) {
        margin-bottom: 0;
      }
      @media only screen and (max-width: 576px) {
        min-height: 1130px;
        top: -90px;
      }
      @media only screen and (max-width: 480px) {
        min-height: 1080px;
        top: -50px;
      }

      .button-block {
        padding-top: 104px;
        padding-bottom: 60px;
        @media only screen and (max-width: 576px) {
          padding-top: 60px;
        }
        @media only screen and (max-width: 480px) {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }

      .active_button {
        color: $text-white;
        background-color: $button-color-orange;
      }

      .button-link {
        @include rounded(10px);
        max-width: 280px;
        min-height: 50px;
        font-weight: bold;
        line-height: 36px;
        padding: 6px 54px;
        letter-spacing: 0.3px;
        text-align: center;
        outline: none;
        color: #bdbdbd;
        border: solid #fb8966 1px;
        background-color: $text-white;

        @media only screen and (max-width: 768px) {
          max-width: 220px;
          line-height: 0;
          padding: 12px 45px;
        }

        @media only screen and (max-width: 576px) {
          max-width: 165px;
          min-height: 36px;
          line-height: 20px;
          padding: 10px 10px;
        }

        @media only screen and (max-width: 480px) {
          max-width: 150px;
          min-height: 26px;
          line-height: 16px;
        }

        @media only screen and (max-width: 480px) {
          max-width: 130px;
          min-height: 26px;
          line-height: 16px;
        }
        @media only screen and (max-width: 480px) {
          max-width: 120px;
        }


        &:first-child {
          margin-right: 50px;
          @media only screen and (max-width: 480px) {
            margin-right: 20px;
            padding: 8px 10px;
            line-height: 12px;
            min-height: 20px;
          }
        }
      }

      .active_button, .button-link:hover {
        background-color: $button-color-orange;
        color: $text-white;
      }

      .main-content-links {
        width: 100%;
        font-weight: 900;
        line-height: 1.09;
        color: $text-color;
        text-align: center;

        .main-info-link {
          margin-bottom: 50px;
          padding-right: 177px;
          @media only screen and (max-width: 768px) {
            padding-right: 0;
            text-align: left;
            margin-left: 150px;
          }
          @media only screen and (max-width: 680px) {
            margin-left: 120px;
          }
          @media only screen and (max-width: 600px) {
            margin-left: 100px;
          }
          @media only screen and (max-width: 550px) {
            margin-left: 70px;
          }
          @media only screen and (max-width: 500px) {
            margin-left: 45px;
          }
          @media only screen and (max-width: 460px) {
            margin-left: 20px;
          }
          @media only screen and (max-width: 420px) {
            margin-left: 0;
          }

          .link {
            width: 100%;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;
            cursor: pointer!important;
            transition: all .1s ease;
            -webkit-transition: all .1s ease;
            -o-transition: all .1s ease;
            -moz-transition: all .1s ease;
            @media only screen and (max-width: 768px) {
              color: $text-color;
            }

            .active_button_link20 {
              transform: translateX(20px);
              @media only screen and (max-width: 375px) {
                transform: translateX(10px);
              }
            }

            .active_button_link40 {
              transform: translateX(40px);
              color: $button-color-orange;
              @media only screen and (max-width: 375px) {
                transform: translateX(20px);
              }
            }

            img {
              transition: all .2s ease;
              -webkit-transition: all .2s ease;
              -o-transition: all .2s ease;
              -moz-transition: all .2s ease;

              &:nth-last-of-type(2) {
                transform: translateX(20px);
              }

              @media only screen and (max-width: 768px) {
                transform: translateX(0);
              }
            }

            span {
              transition: all .2s ease;
              -webkit-transition: all .2s ease;
              -o-transition: all .2s ease;
              -moz-transition: all .2s ease;
            }

            &:hover img {
              transform: translateX(20px);
              @media only screen and (max-width: 375px) {
                transform: translateX(10px);
              }
            }

            &:hover span {
              transform: translateX(40px);
              transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -o-transition: all .3s ease;
              -moz-transition: all .3s ease;
              @media only screen and (max-width: 375px) {
                transform: translateX(20px);
              }
            }

            &:hover {
              color: #e5514a;
              @media only screen and (max-width: 768px) {
                color: $text-color;
              }
            }

            .safe-icon {
              display: inline-block;
              width: 72px;
              height: 72px;
              opacity: 0.1;
              border-radius: 6px;
              background-color: #1fdb84;
            }

            .small-title {
              display: inline-block;
              white-space: pre-wrap;
              padding: 20px 93px 0 20px;
              text-align: left;
              cursor: pointer!important;
              @media only screen and (max-width: 1200px) {
                padding: 20px 40px 0 20px;
              }
              @media only screen and (max-width: 992px) {
                padding: 20px 0 0 20px;
              }
              @media only screen and (max-width: 480px) {
                width: 175px;
              }
              @media only screen and (max-width: 375px) {
                width: 148px;
              }
            }
          }
        }
      }

      .main-content-text {
        padding-right: 30px;
        max-width: 626px;
        height: auto;
        line-height: 1.5;
        color: $text-black;
        @media only screen and (max-width: 768px) {
          display: none;
        }

        div {
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          -moz-transition: all .3s ease;
          margin-top: 0;


          p {
            line-height: 27px;
            position: relative;
            padding-left: 17px;

            &:before {
              content: '';
              width: 8px;
              height: 8px;
              @include rounded(50%);
              background-color: $button-color-orange;
              position: absolute;
              top: 9px;
              left: 0;
            }

            &:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }

    .various-block {
      padding-bottom: 300px;
      overflow: hidden;
      @media only screen and (max-width: 992px) {
        padding-bottom: 220px;
      }
      @media only screen and (max-width: 768px) {
        padding-bottom: 30px;
      }
      .title {
        margin-bottom: 90px;
        @media only screen and (max-width: 992px) {
          margin-bottom: 50px;
        }
        @media only screen and (max-width: 768px) {
          margin-bottom: 20px;
        }

        .big-title {
          margin-bottom: 22px;
          margin-top: 5px;
          @media only screen and (max-width: 576px) {
            display: none !important;
          }
        }

        .small-size-title {
          display: none !important;
          @media only screen and (max-width: 576px) {
            display: block !important;
          }
        }

        .moneo-small-logo {
          @media only screen and (max-width: 576px) {
            display: none;
          }
        }

        .various-title-text {
          line-height: 1.64;
          color: $text-black;
          margin: 0 auto;
          padding: 0 150px;
          @media only screen and (max-width: 992px) {
            padding: 0 20px;
          }
          @media only screen and (max-width: 768px) {
            padding: 0 60px;
          }
          @media only screen and (max-width: 576px) {
            padding: 0 30px;
          }



        }
      }

      .business-icons {
        margin-bottom: 50px;
        padding: 0 10px;
        cursor: pointer!important;

        ul {
          padding-left: 0;
          margin-bottom: 0;

          .active_varius_button1 {
            @include rounded(20px);
            box-shadow: 0 8px 20px 0 rgba(186, 183, 183, 0.8);
            background-color: #ffffff;
            transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
          }

          .active_varius_button2 {
            background-color: #ffa66b;
            -ms-transform: scale(1.2, 1.2);
            -webkit-transform: scale(1.2, 1.2);
            -o-transform: scale(1.2, 1.2);
            -moz-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
            transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            margin-bottom: 20px;
          }

          li {
            padding: 20px 20px 30px;
            min-width: 145px;
            height: 150px;
            margin: 10px 5px 0;

            transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            @media only screen and (max-width: 576px) {
              height: 135px;
              margin: 10px 30px 0;
              min-width: 135px;
            }
            @media only screen and (max-width: 576px) {
              margin: 10px 20px 0;
              min-width: 118px;
            }
            @media only screen and (max-width: 375px) {
              min-width: 100px;
              margin: 10px 10px 0;
            }

            a {
              position: relative;
              color: $text-color;
            }

            .variuos-icon {
              position: absolute;
              top: 15px;
            }

            &:nth-of-type(3) .variuos-icon {
              top: 18px;
            }

            &:nth-child(n+5):nth-child(-n+6) .variuos-icon {
              top: 18px;
            }

            &:nth-of-type(7) .variuos-icon {
              top: 23px;
            }

            &:nth-child(n+8):nth-child(-n+9) .variuos-icon {
              top: 20px;
            }

            &:nth-of-type(11) .variuos-icon {
              top: 18px;
            }

            &:nth-child(n+12):nth-child(-n+13) .variuos-icon {
              top: 20px;
            }


            &:hover {
              @include rounded(20px);
              box-shadow: 0 8px 20px 0 rgba(186, 183, 183, 0.8);
              background-color: #ffffff;
              transition: all .2s ease-in;
              -webkit-transition: all .2s ease-in;
              -o-transition: all .2s ease-in;
              -moz-transition: all .2s ease-in;
            }

            &:hover .play-icon {
              background-color: #ffa66b;
              -ms-transform: scale(1.2, 1.2);
              -webkit-transform: scale(1.2, 1.2);
              -o-transform: scale(1.2, 1.2);
              -moz-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
              transition: all .2s ease-in;
              -webkit-transition: all .2s ease-in;
              -o-transition: all .2s ease-in;
              -moz-transition: all .2s ease-in;
              margin-bottom: 20px;
            }
          }
        }

        .play-icon {
          @include rounded(50%);
          display: inline-block;
          width: 64px;
          height: 64px;
          opacity: 0.8;
          background-color: #546ec1;
          margin-bottom: 12px;
          transition: all .2s ease-in;
          -webkit-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          -moz-transition: all .2s ease-in;
        }
      }

      .various-block-text {
        margin: 0 auto;
        position: relative;

        .small-text {
          line-height: 1.5;
          text-align: center;
          color: $text-black;
          cursor: default;
          position: absolute;
          width: 100%;
        }
      }
    }
  }

  .world-block {
    background-image: url("../../assets/moneo-logo/fon.png");
    background-size: cover;
    .works-block {
      margin-top: 150px;
      padding: 100px 0;
      @media only screen and (max-width: 992px) {
        padding: 0 0 30px;
      }
      @media only screen and (max-width:768px) {
        padding: 0 0 0;
      }
      @media only screen and (max-width: 556px) {
        padding: 0 0 15px;
      }
      @media only screen and (max-width: 480px) {
        margin-top: 100px;
        padding-top: 15px;
      }
      @media only screen and (max-width: 350px) {
        margin-top: 50px;
      }

      .circle-lg-block {
        @media only screen and (max-width: 992px) {
          display: none;
        }
      }

      .circle-block, .circle-block-hidden {
        position: absolute;
        width: 488px;
        height: 488px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: rotate(0deg);
        border: 2px solid $button-color-orange;
        border-left: 2px solid transparent;
        @include rounded(50%);
        padding: 49px;
        z-index: 10000000;
        @media only screen and (max-width: 992px) {
          top: 190px;
        }
        @media only screen and (max-width: 768px) {
          width: 388px;
          height: 388px;
        }
        @media only screen and (max-width: 576px) {
          width: 288px;
          height: 288px;
        }
        @media only screen and (max-width: 480px) {
          top: 150px;
        }

        .circle-inner-block {
          position: absolute;
          width: 388px;
          height: 388px;
          @media only screen and (max-width: 768px) {
            width: 288px;
            height: 288px;
          }
          @media only screen and (max-width: 576px) {
            width: 188px;
            height: 188px;
          }
          background-color: $text-white;
          @include rounded(50%);
          border: 3px solid #0079FF;
          z-index: 100;

          .illustrations {
            width: 383px;
            height: 383px;
            overflow: hidden;
            position: absolute;
            @include rounded(50%);
            @media only screen and (max-width: 768px) {
              width: 288px;
              height: 288px;
            }
            @media only screen and (max-width: 576px) {
              width: 188px;
              height: 188px;
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              display: inline-block;
            }
          }

          .small-circle {
            position: absolute;
            bottom: 0;
            left: 6px;
            width: 20px;
            height: 20px;
            @include rounded(50%);
            background-color: $button-color-orange;
            z-index: 1000;
            @media only screen and (max-width: 768px) {
              width: 18px;
              height: 18px;
            }
            @media only screen and (max-width: 576px) {
              width: 16px;
              height: 16px;
            }

            .active-circle-link {
              width: 21px;
              height: 21px;
              border: 4px solid $text-white;
              @media only screen and (max-width: 768px) {
                width: 19px;
                height: 19px;
              }
              @media only screen and (max-width: 576px) {
                width: 17px;
                height: 17px;
              }

              &:before {
                content: "";
                width: 24px;
                height: 24px;
                bottom: -2px;
                right: -2px;
                @include rounded(50%);
                border: 2px solid #fb8966;
                position: absolute;
                cursor: pointer;
                @media only screen and (max-width: 768px) {
                  width: 22px;
                  height: 22px;
                }
                @media only screen and (max-width: 576px) {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .circle-link {
              width: 20px;
              height: 20px;
              @include rounded(50%);
              cursor: pointer;
              @media only screen and (max-width: 768px) {
                width: 18px;
                height: 18px;
              }
              @media only screen and (max-width: 576px) {
                width: 16px;
                height: 16px;
              }
            }

            &:first-child {
              top: 12px;
              left: 6px;
              @media only screen and (max-width: 768px) {
                top: 0;
                left: -10px;
              }
              @media only screen and (max-width: 576px) {
                top: -14px;
                left: -24px;
              }
            }

            &:nth-child(2) {
              top: -61px;
              left: 150px;
              @media only screen and (max-width: 768px) {
                top: -60px;
                left: 101px;
              }
              @media only screen and (max-width: 576px) {
                top: -60px;
                left: 60px;
              }
            }

            &:nth-child(3) {
              top: -25px;
              left: 310px;
              @media only screen and (max-width: 768px) {
                top: -34px;
                left: 230px;
              }
              @media only screen and (max-width: 576px) {
                top: -40px;
                left: 157px;
              }
            }

            &:nth-child(4) {
              top: 95px;
              left: 408px;
              @media only screen and (max-width: 768px) {
                top: 65px;
                left: 313px;
              }
              @media only screen and (max-width: 576px) {
                top: 28px;
                left: 214px;
              }
            }

            &:nth-child(5) {
              top: 263px;
              left: 408px;
              @media only screen and (max-width: 768px) {
                top: 195px;
                left: 313px;
              }
              @media only screen and (max-width: 576px) {
                top: 136px;
                left: 214px;
              }
            }

            &:nth-child(6) {
              bottom: -39px;
              left: 310px;
              @media only screen and (max-width: 768px) {
                bottom: -45px;
                left: 230px;
              }
              @media only screen and (max-width: 576px) {
                bottom: -48px;
                left: 157px;
              }
            }

            &:nth-child(7) {
              bottom: -75px;
              left: 150px;
              @media only screen and (max-width: 768px) {
                bottom: -68px;
                left: 101px;
              }
              @media only screen and (max-width: 576px) {
                bottom: -66px;
                left: 60px;
              }
            }

            &:nth-child(8) {
              bottom: -2px;
              left: 6px;
              @media only screen and (max-width: 768px) {
                bottom: -9px;
                left: -10px;
              }
              @media only screen and (max-width: 576px) {
                bottom: -22px;
                left: -24px;
              }
            }
          }

        }
      }

      //.col-lg-6:nth-child(2) {
      //  @media only screen and (max-width: 1200px) {
      //    flex: 0 0 48%;
      //    max-width: 48%;
      //  }
      //  @media only screen and (max-width: 992px) {
      //    flex: 0 0 100%;
      //    max-width: 100%;
      //  }
      //}

      .title {
        color: $text-white;
        padding-left: 60px;
        @media only screen and (max-width: 992px) {
          padding-left: 0 !important;
        }

        .active_illustrations_button {
          opacity: 1;
        }

        button {
          font-weight: bold;
          color: #ffffff;
          margin-bottom: 40px;
          opacity: .5;
          @media only screen and (max-width: 576px) {
            font-size: 18px !important;
          }
          @media only screen and (max-width: 375px) {
            font-size: 15px !important;
          }

          &:first-of-type {
            @media only screen and (max-width: 992px) {
              float: left;
            }
          }

          &:last-of-type {
            @media only screen and (max-width: 992px) {
              float: right;
            }
          }
        }

        h2 {
          &:last-of-type {
            @media only screen and (max-width: 992px) {
              text-align: center;
              margin-bottom: 30px;
            }
          }
        }

        h2 + p {
          margin-top: 20px;
          margin-bottom: 40px;
          font-size: 1.375rem;
          font-weight: bold;
          line-height: 1.64;
        }

        ul {
          list-style-position: inside;
          list-style-type: decimal;
          margin-left: 22px;
          min-height: 573px;
          overflow: hidden;
          @media only screen and (max-width: 992px) {
            margin-top: 660px;
            min-height: 0;
          }
          @media only screen and (max-width: 768px) {
            margin-top: 580px;
          }
          @media only screen and (max-width: 576px) {
            margin-top: 450px;
          }

          .active-text-link1, .active-text-link2 {
            opacity: 1;
            margin-left: 0;
          }

          li {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
            opacity: .5;
            margin-left: 10px;
            color: $text-white;
            cursor: pointer;
            position: relative;
            @media only screen and (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .map-block {
      padding-top: 20px;
      @media only screen and (max-width:768px) {
        padding-top: 0;
      }
      //@media only screen and (max-width: 576px) {
      //  top: -360px;
      //}


      .title-logo-block {
        padding-bottom: 20px;

        .moneo-small-logo {
          margin-top: 5px;
          margin-right: 20px;
          @media only screen and (max-width: 992px) {
            height: 35px;
          }
          @media only screen and (max-width: 576px) {
            margin-top: 0;
          }
          @media only screen and (max-width: 480px) {
            margin-right: 0;
            padding: 0 20px;
          }

        }

        .big-title {
          width: auto;
          display: inline-block;
          color: $text-white;
          @media only screen and (max-width:480px) {
            display: block;
            margin-top: 10px;
          }
        }
      }

      .map-logo-block {
        position: relative;
        padding-bottom: 150px;
        @media only screen and (max-width:480px) {
          padding-bottom: 115px;
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: #f6f9fc;
    @media only screen and (max-width:768px) {
      margin-top: 30px;
    }
    .footer-block {
      position: relative;

      .map-status-block {
        position: relative;

        .map-status-inner-block {
          position: absolute;
          top: -163px;
          left: 0;
          right: 0;
          max-width: 800px;
          min-height: 240px;
          @include rounded(20px);
          box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
          background-color: #fff;
          margin: 0 auto;
          z-index: 100;

          .map-icon {
            @media only screen and (max-width:480px) {
             padding-left: 5px!important;
             padding-right: 5px!important;
            }
            @media only screen and (max-width:375px) {
              padding-left: 0!important;
              padding-right: 0!important;
            }

          }
          p, span, h6 {
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
          }

          h6 {
            padding: 30px 0 40px;
            font-size: 1.375rem;
            font-weight: bold;
            letter-spacing: 0.6px;
            text-align: center;
            color: $text-color;
            margin: 0 auto;
          }

          p, span {
            margin-left: 67px;
          }

          p, span, span .small-icon-map {
            display: inline-block;
            @media only screen and (max-width: 768px) {
              display: block;
            }
          }

          p {
            font-size: 1.125rem;
            letter-spacing: 0.5px;
            color: $text-color;
            padding-bottom: 10px;
            margin-bottom: 0;
          }

          span {
            font-size: 14px;
            letter-spacing: normal;
            color: #7d7d7d;
            padding-bottom: 5px;
            cursor: pointer;
            @media only screen and (max-width: 768px) {
              font-size: 10px;
            }

          }

          span.small-icon-map {
            width: 26px;
            height: 26px;
            border-radius: 8px;
            margin: 0 15px 0 25px;
            position: absolute;
            top: 0;
          }

          .active {
            background-color: #fb8966;
          }

          .coming_soon {
            background-color: #b8e986;
          }

          .near_future {
            background-color: #f8e71c;
          }

          .future {
            border: 1px solid rgba(113, 113, 113, 0.3);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
          }
        }
      }

      .tariffs-block {
        padding: 250px 0 100px;
        @media only screen and (max-width: 992px) {
          padding: 170px 0 100px;
        }
        @media only screen and (max-width: 480px) {
          padding: 170px 0 70px;
        }

        h2 {
          margin-bottom: 80px;
        }

        .tariffs-content-block {
          @include rounded(20px);
          box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
          background-color: #ffffff;
          padding: 30px 4px 35px;

          .numbered-circle {
            width: 68px;
            height: 68px;
            @include rounded(50%);
            text-align: center;
            background-color: $button-color-orange;
            margin: 0 auto 40px;
            @media only screen and (max-width: 992px) {
              margin: 0 auto 25px;
              width: 60px;
              height: 60px;
            }

            p {
              color: $text-white;
              font-size: 28px;
              font-weight: 900;
              line-height: 68px;
              @media only screen and (max-width: 768px) {
                font-size: 24px;
                line-height: 60px;
              }
            }

          }

          .tariffs-content-text {
            margin-bottom: 50px;
            @media only screen and (max-width: 992px) {
              padding: 0 100px !important;
            }
            @media only screen and (max-width: 576px) {
              padding: 0 77px !important;
            }
            @media only screen and (max-width: 480px) {
              padding: 0 30px !important;
            }
            @media only screen and (max-width: 375px) {
              padding: 0 20px !important;
            }

            p {
              font-size: 22px;
              font-weight: bold;
              padding-bottom: 40px;
              @media only screen and (max-width: 992px) {
                padding-bottom: 10px;
              }
              @media only screen and (max-width: 768px) {
                font-size: 18px;
              }
            }

            span {
              font-size: 1.063rem;
              @media only screen and (max-width: 768px) {
                font-size: 14px !important;
              }
            }
          }

          .mhb {
            min-height: 181px !important;
            @media only screen and (max-width: 992px) {
              min-height: 100px !important;
            }
          }

          .tariff-amd-block {
            margin-bottom: 50px;
            @media only screen and (max-width: 480px) {
              margin-top: 10px;
            }

            .tariff-amd {
              max-width: 280px;
              height: 60px;
              border: solid 1px $button-color-orange;
              @include rounded(10px);
              color: $button-color-orange;
              font-size: 22px;
              font-weight: 900;
              padding: 18px 50px;
              letter-spacing: 0.3px;
              text-align: center;
              @media only screen and (max-width: 768px) {
                font-size: 18px;
                max-width: 250px;
              }
              @media only screen and (max-width: 480px) {
                height: 50px;
                padding: 17px 35px;
              }

            }

            .blue-button {
              border: solid 1px #546ec1;
              color: #546ec1;
            }

          }

        }

        .information-block {
          font-size: 15px;
          padding: 0 250px;
          @media only screen and (max-width: 992px) {
            padding: 0 100px !important;
          }
          @media only screen and (max-width: 768px) {
            font-size: 12px;
          }
          @media only screen and (max-width: 576px) {
            padding: 0 77px !important;
          }
          @media only screen and (max-width: 480px) {
            padding: 0 30px !important;
          }
        }


      }

      .top-text-block, .center-text-block {
        margin-bottom: 60px;

        .col {
          p {
            @media only screen and (max-width: 992px) {
              width: 200%;
              height: 2px;
              background-color: #cccccc4d;
              position: relative;
              left: -180px;
              margin: 15px 0;
            }
            @media only screen and (max-width: 576px) {
              margin: 10px 0;
            }
            @media only screen and (max-width: 480px) {
              margin: 5px 0;
            }
          }

          @media only screen and (max-width: 576px) {
            padding-right: 145px;
          }
          @media only screen and (max-width: 480px) {
            padding-right: 67px;
          }

          a {
            display: inline-block;
            font-size: 1.250rem;
            line-height: 50px;
            color: $text-color;
            cursor: pointer;
            @media only screen and (max-width: 576px) {
              font-size: 14px !important;
            }


            &:hover {
              @media only screen and (max-width: 576px) {
                text-decoration: none;
              }
            }
          }


        }
      }

      .top-text-block {
        @media only screen and (max-width: 992px) {
          margin-bottom: 10px!important;
        }
      }

      .center-text-block {
        padding-top: 0;

        .col {
          margin-right: 82px;

          h6 {
            font-weight: 600;
            color: $text-black;
          }

          p {
            font-weight: 500;
            color: $text-black;
          }
        }
      }

      .bottom-text-block {
        margin-bottom: 50px;

        .col {
          a {
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 24px;
            letter-spacing: normal;
            color: $text-black;
          }
        }
      }

    }
  }
}


:host {
  display: block;
}

.open-close-container {
  border: 1px solid #ddd;
  margin-top: 1em;
  padding: 20px 20px 0 20px;
  color: #000000;
  font-weight: bold;
  font-size: 1.250rem;
}

@media only screen and (max-width: 1200px) {
  main {
    padding-top: 80px;

    .top-section {
      .title {
        p {
          //padding-right: 110px;
        }
      }

      .row {
        p {
          font-size: 1.125rem;
          line-height: 1.22;

        }
      }

      ul {

        li {
          border: solid 1px #546ec1;
          outline-offset: 1px;
          max-width: 360px;
          height: 105px;
          @include rounded(10px);
          background-color: $text-white;
          margin-bottom: 30px;
          padding-left: 0;
          padding-right: 0;
          .small-title {
            display: inline-block;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 105px;
            letter-spacing: 0.2px;
            color: $text-color;
          }

          .slider-icon {
            display: inline-block;
            margin: 0 20px 0;
            width: 36px;
            height: 36px;
            border-radius: 8px;
            background-color: #546ec1;
          }
        }
      }


    }

    .main-block {
      //min-height: 1110px;
      @include rounded(20px);
      box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
      background-color: $text-white;
      position: relative;
      top: -100px;
      margin-bottom: 40px;


      .button-block {
        padding-top: 104px;
        padding-bottom: 60px;
      }

      .button-link {
        @include rounded(10px);
        max-width: 280px;
        min-height: 50px;
        font-weight: bold;
        line-height: 36px;
        padding: 6px 54px;
        letter-spacing: 0.3px;
        text-align: center;
      }

      .left-button {
        color: $text-white;
        background-color: $button-color-orange;

        &:hover {
          background-color: $text-white;
          border: solid #fb8966 1px;
          outline-offset: 1px;
          color: #bdbdbd;
        }
      }

      .right-button {
        color: #bdbdbd;
        margin-left: 50px;
        border: solid #fb8966 1px;
        outline-offset: 1px;
        background-color: $text-white;

        &:hover {
          background-color: $button-color-orange;
          color: $text-white;
        }
      }

      .main-content-links {
        width: 100%;
        height: 48px;
        font-weight: 900;
        line-height: 1.09;
        color: $text-color;

        .main-info-link {
          margin-bottom: 37px;
          padding-right: 112px;

          .link {
            width: 100%;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;

            &:hover {
              color: $text-color;
            }

            .safe-icon {
              display: inline-block;
              width: 72px;
              height: 72px;
              opacity: 0.1;
              border-radius: 6px;
              background-color: #1fdb84;
            }

            .small-title {
              display: inline-block;
              white-space: pre-wrap;
              padding: 20px 70px 0 20px;
            }
          }
        }
      }

      .main-content-text {
        padding-right: 30px;
        max-width: 626px;
        height: auto;
        line-height: 1.5;
        color: $text-black;

        p {
          line-height: 27px;
        }
      }
    }

    .various-block {
      padding-bottom: 100px;

      .title {
        margin-bottom: 90px;

        .big-title {
          margin-bottom: 22px;
        }

        .various-title-text {
          line-height: 1.64;
          color: $text-black;
          margin: 0 auto;
        }
      }

      .business-icons {
        margin-bottom: 70px;

        ul {
          padding-left: 0;
          margin-bottom: 0;

          li {
            margin: 0 20px 40px;
            min-width: 120px;
          }
        }

        .play-icon {
          @include rounded(50%);
          display: inline-block;
          width: 64px;
          height: 64px;
          opacity: 0.8;
          background-color: #546ec1;
          margin-bottom: 8px;
        }
      }

      .various-block-text {
        margin: 0 auto;

        .small-text {
          line-height: 1.5;
          text-align: center;
          color: $text-black;
        }
      }
    }

    .world-block {
      @media only screen and (max-width: 1200px) {
        padding-bottom: 30px;
      }

      .title {
        color: $text-white;
        padding-left: 60px;

        h2 + p {
          margin-top: 20px;
          margin-bottom: 40px;
          font-size: 1.375rem;
          font-weight: bold;
          line-height: 1.64;
        }

        ol {

          p {
            font-size: 1.000rem;
            line-height: 1.44;
            margin-top: 10px;
          }
        }
      }
    }

    footer {
      width: 100%;
      background-color: #f6f9fc;

      .footer-block {

        .center-text-block {
          .col {
            margin-right: 82px;

            h6 {
              font-weight: 600;
              color: $text-black;
            }

            p {
              font-weight: 500;
              color: $text-black;
            }
          }
        }

        .bottom-text-block {
          margin-bottom: 50px;

          .col {
            a {
              display: inline-block;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 24px;
              letter-spacing: normal;
              color: $text-black;
            }
          }
        }

        .footer-logo {
          .year {
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 3.13;
            letter-spacing: normal;
            color: $text-black;
          }
        }
      }
    }
  }
  .top-section {
    ul {
      li {
        max-width: 300px !important;
      }
    }


  }
}

@media only screen and (max-width: 992px) {
  main {

    .top-section {

      .title {
        p {
          //padding-right: 110px;
        }
      }

      .row {
        p {
          font-size: 1.125rem;
          line-height: 1.22;

        }
      }

      ul {

        li {
          border: solid 1px #546ec1;
          outline-offset: 1px;
          max-width: 360px;
          height: 105px;
          @include rounded(10px);
          background-color: $text-white;
          margin-bottom: 30px;
          padding-left: 0;
          padding-right: 0;

          .small-title {
            display: inline-block;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 105px;
            letter-spacing: 0.2px;
            color: $text-color;
          }

          .slider-icon {
            display: inline-block;
            margin: 0 20px 0;
            width: 36px;
            height: 36px;
            border-radius: 8px;
            background-color: #546ec1;
          }
        }
      }


    }

    .main-block {
      //min-height: 1110px;
      @include rounded(20px);
      box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
      background-color: $text-white;
      position: relative;
      top: -100px;
      margin-bottom: 41px;

      .button-block {
        padding-top: 104px;
        padding-bottom: 60px;
      }

      .button-link {
        @include rounded(10px);
        max-width: 225px;
        min-height: 50px;
        font-weight: bold;
        line-height: 36px;
        padding: 6px 15px;
        letter-spacing: 0.3px;
        text-align: center;
      }

      .left-button {
        color: $text-white;
        background-color: $button-color-orange;

        &:hover {
          background-color: $text-white;
          border: solid #fb8966 1px;
          outline-offset: 1px;
          color: #bdbdbd;
        }
      }

      .right-button {
        color: #bdbdbd;
        margin-left: 50px;
        border: solid #fb8966 1px;
        outline-offset: 1px;
        background-color: $text-white;

        &:hover {
          background-color: $button-color-orange;
          color: $text-white;
        }
      }

      .main-content-links {
        width: 100%;
        height: 48px;
        font-weight: 900;
        line-height: 1.09;
        color: $text-color;

        .main-info-link {
          margin-bottom: 37px;
          padding-right: 30px;

          .link {
            width: 100%;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;

            &:hover {
              color: $text-color;
            }

            .safe-icon {
              display: inline-block;
              width: 72px;
              height: 72px;
              opacity: 0.1;
              border-radius: 6px;
              background-color: #1fdb84;
            }

            .small-title {
              display: inline-block;
              white-space: pre-wrap;
              padding: 20px 70px 0 20px;
            }
          }
        }
      }

      .main-content-text {
        padding-right: 30px;
        max-width: 626px;
        height: auto;
        line-height: 1.5;
        color: $text-black;

        p {
          line-height: 27px;
        }
      }
    }

    .various-block {
      padding-bottom: 100px;

      .title {
        margin-bottom: 90px;

        .big-title {
          margin-bottom: 22px;
        }

        .various-title-text {
          line-height: 1.64;
          color: $text-black;
          margin: 0 auto;
        }
      }

      .business-icons {
        margin-bottom: 70px;

        ul {
          padding-left: 0;
          margin-bottom: 0;

          li {
            margin: 0 20px 40px;
            min-width: 120px;
          }
        }

        .play-icon {
          @include rounded(50%);
          display: inline-block;
          width: 64px;
          height: 64px;
          opacity: 0.8;
          background-color: #546ec1;
          margin-bottom: 8px;
        }
      }

      .various-block-text {
        margin: 0 auto;

        .small-text {
          line-height: 1.5;
          text-align: center;
          color: $text-black;
        }
      }
    }

    .world-block {

        .title {
          color: $text-white;
          padding-left: 60px;

          h2 + p {
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 1.64;
          }

          ol {

            p {
              font-size: 1.000rem;
              line-height: 1.44;
              margin-top: 10px;
            }
          }
        }
      }

    footer {
      width: 100%;
      background-color: #f6f9fc;

      .footer-block {

        .center-text-block {
          .col {
            margin-right: 82px;

            h6 {
              font-weight: 600;
              color: $text-black;
            }

            p {
              font-weight: 500;
              color: $text-black;
            }
          }
        }
      }
    }
  }

  .top-section {
    ul {
      li {
        max-width: 310px !important;
      }
    }

  }

}

@media only screen and (max-width: 768px) {
  main {
    .top-section {

      .row {
        p {
          font-size: 1.125rem;
          line-height: 1.22;

        }
      }

      ul {

        li {
          border: solid 1px #546ec1;
          outline-offset: 1px;
          max-width: 360px;
          height: 105px;
          @include rounded(10px);
          background-color: $text-white;
          margin-bottom: 30px;
          padding-left: 0;
          padding-right: 0;


          .small-title {
            display: inline-block;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 105px;
            letter-spacing: 0.2px;
            color: $text-color;
          }

          .slider-icon {
            display: inline-block;
            margin: 0 20px 0;
            width: 36px;
            height: 36px;
            border-radius: 8px;
            background-color: #546ec1;
          }
        }
      }


    }

    .main-block {
      //min-height: 1110px;
      @include rounded(20px);
      box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
      background-color: $text-white;
      position: relative;
      top: -100px;
      margin-bottom: 41px;

      .button-block {
        padding-top: 70px;
        padding-bottom: 60px;
      }

      .left-button {
        color: $text-white;
        background-color: $button-color-orange;

        &:hover {
          background-color: $text-white;
          border: solid #fb8966 1px;
          outline-offset: 1px;
          color: #bdbdbd;
        }
      }

      .right-button {
        color: #bdbdbd;
        margin-left: 50px;
        border: solid #fb8966 1px;
        outline-offset: 1px;
        background-color: $text-white;

        &:hover {
          background-color: $button-color-orange;
          color: $text-white;
        }
      }

      .main-content-links {
        width: 100%;
        height: 48px;
        font-weight: 900;
        line-height: 1.09;
        color: $text-color;

        .main-info-link {
          margin-bottom: 37px;
          padding-right: 0;

          .link {
            width: 100%;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;

            &:hover {
              color: $text-color;
            }

            .safe-icon {
              display: inline-block;
              width: 72px;
              height: 72px;
              opacity: 0.1;
              border-radius: 6px;
              background-color: #1fdb84;
            }

            .small-title {
              display: inline-block;
              white-space: pre-wrap;
              padding: 20px 70px 0 20px;
            }
          }
        }
      }

      .main-content-text {
        padding-right: 30px;
        max-width: 626px;
        height: auto;
        line-height: 1.5;
        color: $text-black;

        p {
          line-height: 27px;
        }
      }
    }

    .various-block {
      padding-bottom: 100px;

      .title {
        margin-bottom: 50px;
        padding-top: 0 !important;

        .big-title {
          margin-bottom: 22px;
        }

        .various-title-text {
          line-height: 1.64;
          color: $text-black;
          margin: 0 auto;
        }
      }

      .business-icons {
        margin-bottom: 40px;

        ul {
          padding-left: 0;
          margin-bottom: 0;

          li {
            margin: 0 20px 40px;
            min-width: 120px;
          }
        }

        .play-icon {
          @include rounded(50%);
          display: inline-block;
          width: 64px;
          height: 64px;
          opacity: 0.8;
          background-color: #546ec1;
          margin-bottom: 8px;
        }
      }

      .various-block-text {
        margin: 0 auto;

        .small-text {
          line-height: 1.5;
          text-align: center;
          color: $text-black;
        }
      }
    }

    .world-block {

        .title {
          color: $text-white;
          padding-left: 60px;

          h2 + p {
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 1.64;
          }

          ol {

            p {
              font-size: 1.000rem;
              line-height: 1.44;
              margin-top: 10px;
            }
          }
        }
      }

    footer {
      width: 100%;
      background-color: #f6f9fc;

      .footer-block {

        .center-text-block {
          .col {
            margin-right: 82px;

            h6 {
              font-weight: 600;
              color: $text-black;
            }

            p {
              font-weight: 500;
              color: $text-black;
            }
          }
        }
      }
    }
  }
  .top-section {
    ul {
      li {
        max-width: 240px !important;

      }
    }
  }
}


@media only screen and (max-width: 576px) {
  main {

    .top-section {

      .row {
        p {
          font-size: 1.125rem;
          line-height: 1.22;

        }
      }

      ul {
        margin-right: 0 !important;
        margin-left: 0 !important;

        li {
          border: solid 1px #546ec1;
          outline-offset: 1px;
          max-width: 360px;
          height: 105px;
          @include rounded(10px);
          background-color: $text-white;
          margin-bottom: 30px;
          padding-left: 0;
          padding-right: 0;


          .small-title {
            display: inline-block;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 105px;
            letter-spacing: 0.2px;
            color: $text-color;
          }

          .slider-icon {
            display: inline-block;
            margin: 0 20px 0;
            width: 36px;
            height: 36px;
            border-radius: 8px;
            background-color: #546ec1;
          }
        }
      }
    }

    .main-block {
      //min-height: 1110px;
      @include rounded(20px);
      box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
      background-color: $text-white;
      position: relative;
      top: -70px;
      margin-bottom: 0;
      padding-bottom: 20px;
      margin: 0 15px;

      .button-block {
        padding-top: 70px;
        padding-bottom: 60px;
      }

      .button-link {
        @include rounded(10px);
        max-width: 130px;
        min-height: 40px;
        font-weight: bold;
        line-height: 24px;
        padding: 6px;
        letter-spacing: 0.3px;
        text-align: center;
      }

      .left-button {
        color: $text-white;
        background-color: $button-color-orange;

        &:hover {
          background-color: $text-white;
          border: solid #fb8966 1px;
          outline-offset: 1px;
          color: #bdbdbd;
        }
      }

      .right-button {
        color: #bdbdbd;
        margin-left: 50px;
        border: solid #fb8966 1px;
        outline-offset: 1px;
        background-color: $text-white;

        &:hover {
          background-color: $button-color-orange;
          color: $text-white;
        }
      }

      .main-content-links {
        width: 100%;
        height: 48px;
        font-weight: 900;
        line-height: 1.09;
        color: $text-color;

        .main-info-link {
          margin-bottom: 37px;

          .link {
            width: 100%;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;

            &:hover {
              color: $text-color;
            }

            .safe-icon {
              display: inline-block;
              width: 72px;
              height: 72px;
              opacity: 0.1;
              border-radius: 6px;
              background-color: #1fdb84;
            }

            .small-title {
              display: inline-block;
              white-space: pre-wrap;
              padding: 20px 70px 0 20px;
            }
          }
        }
      }

      .main-content-text {
        padding-right: 30px;
        max-width: 626px;
        height: auto;
        line-height: 1.5;
        color: $text-black;

        p {
          line-height: 27px;
        }
      }
    }

    .various-block {
      padding-bottom: 70px;

      .title {
        margin-bottom: 60px;

        .big-title {
          margin-bottom: 22px;
        }

        .various-title-text {
          line-height: 1.64;
          color: $text-black;
          margin: 0 auto;
        }
      }

      .business-icons {
        margin-bottom: 50px;

        ul {
          padding-left: 0;
          margin-bottom: 0;

          li {
            margin: 0 20px 40px;
            min-width: 120px;
          }
        }

        .play-icon {
          @include rounded(50%);
          display: inline-block;
          width: 64px;
          height: 64px;
          opacity: 0.8;
          background-color: #546ec1;
          margin-bottom: 8px;
        }
      }

      .various-block-text {
        margin: 0 auto;

        .small-text {
          line-height: 1.5;
          text-align: center;
          color: $text-black;
        }
      }
    }

    .world-block {

      .works-block {

        .title {
          color: $text-white;
          padding-left: 60px;

          h2 + p {
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 1.64;
          }

          ol {

            p {
              font-size: 1.000rem;
              line-height: 1.44;
              margin-top: 10px;
            }
          }
        }
      }

    }

    footer {
      width: 100%;
      background-color: #f6f9fc;

      .footer-block {

        .center-text-block {
          .col {
            margin-right: 82px;

            h6 {
              font-weight: 600;
              color: $text-black;
            }

            p {
              font-weight: 500;
              color: $text-black;
            }
          }
        }
      }
    }
  }
  .top-section {
    ul {
      li {
        max-width: 100% !important;
        //&:nth-child(odd) {
        //  margin-right: 0!important;
        //}
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  main {

    .top-section {

      .row {
        p {
          font-size: 1.125rem;
          line-height: 1.22;

        }
      }

      ul {
        margin-right: 0 !important;
        margin-left: 0 !important;

        li {
          border: solid 1px #546ec1;
          outline-offset: 1px;
          max-width: 360px;
          height: 105px;
          @include rounded(10px);
          background-color: $text-white;
          margin-bottom: 30px;
          padding-left: 0;
          padding-right: 0;

          .small-title {
            display: inline-block;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 105px;
            letter-spacing: 0.2px;
            color: $text-color;
          }

          .slider-icon {
            display: inline-block;
            margin: 0 20px 0;
            width: 36px;
            height: 36px;
            border-radius: 8px;
            background-color: #546ec1;
          }
        }
      }
    }

    .main-block {
      //min-height: 1110px;
      @include rounded(20px);
      box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
      background-color: $text-white;
      position: relative;
      top: -70px;
      padding-bottom: 20px;
      margin: 0 15px;

      .button-block {
        padding-top: 70px;
        padding-bottom: 60px;
      }

      .button-link {
        @include rounded(10px);
        max-width: 130px;
        min-height: 40px;
        font-weight: bold;
        line-height: 24px;
        padding: 6px;
        letter-spacing: 0.3px;
        text-align: center;
      }

      .left-button {
        color: $text-white;
        background-color: $button-color-orange;

        &:hover {
          background-color: $text-white;
          border: solid #fb8966 1px;
          outline-offset: 1px;
          color: #bdbdbd;
        }
      }

      .right-button {
        color: #bdbdbd;
        margin-left: 50px;
        border: solid #fb8966 1px;
        outline-offset: 1px;
        background-color: $text-white;

        &:hover {
          background-color: $button-color-orange;
          color: $text-white;
        }
      }

      .main-content-links {
        width: 100%;
        height: 48px;
        font-weight: 900;
        line-height: 1.09;
        color: $text-color;

        .main-info-link {
          margin-bottom: 37px;

          .link {
            width: 100%;
            display: block;
            color: #bdbdbd;
            white-space: nowrap;

            &:hover {
              color: $text-color;
            }

            .safe-icon {
              display: inline-block;
              width: 72px;
              height: 72px;
              opacity: 0.1;
              border-radius: 6px;
              background-color: #1fdb84;
            }

            .small-title {
              display: inline-block;
              white-space: pre-wrap;
              padding: 20px 70px 0 20px;
            }
          }
        }
      }

      .main-content-text {
        padding-right: 30px;
        max-width: 626px;
        height: auto;
        line-height: 1.5;
        color: $text-black;

        p {
          line-height: 27px;
        }
      }
    }

    .various-block {
      padding-bottom: 70px;

      .title {
        margin-bottom: 60px;

        .big-title {
          margin-bottom: 22px;
        }

        .various-title-text {
          line-height: 1.64;
          color: $text-black;
          margin: 0 auto;
        }
      }

      .business-icons {
        margin-bottom: 50px;

        ul {
          padding-left: 0;
          margin-bottom: 0;

          li {
            margin: 0 20px 40px;
            min-width: 120px;
          }
        }

        .play-icon {
          @include rounded(50%);
          display: inline-block;
          width: 64px;
          height: 64px;
          opacity: 0.8;
          background-color: #546ec1;
          margin-bottom: 8px;
        }
      }

      .various-block-text {
        margin: 0 auto;

        .small-text {
          line-height: 1.5;
          text-align: center;
          color: $text-black;
        }
      }
    }

    .world-block {
      .works-block {

        .title {
          color: $text-white;
          padding-left: 60px;

          h2 + p {
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 1.375rem;
            font-weight: bold;
            line-height: 1.64;
          }

          ol {

            p {
              font-size: 1.000rem;
              line-height: 1.44;
              margin-top: 10px;
            }

          }
        }
      }

    }

    footer {
      width: 100%;
      background-color: #f6f9fc;

      .footer-block {

        .center-text-block {
          .col {
            margin-right: 82px;

            h6 {
              font-weight: 600;
              color: $text-black;
            }

            p {
              font-weight: 500;
              color: $text-black;
            }
          }
        }
      }
    }
  }
  .top-section {
    ul {
      li {
        max-width: 100% !important;
        //&:nth-child(odd) {
        //  margin-right: 0!important;
        //}
      }
    }
  }
}


#goTop, #goDown {
  position: fixed;
  z-index: 999;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 15px;
  width: 98px;
  height: 98px;
  display: inline-block;
  border: none;
  background-color: transparent;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

#goTop {
  background-image: url("../../assets/buttonTopDown/up.svg");
  bottom: 185px;
}

#goDown {
  background-image: url("../../assets/buttonTopDown/down.svg");
  bottom: 110px;
}

//#goTop, #goDown {
  //position: fixed;
  //z-index: 999;
  //right: 15px;
  //bottom: 4%;
  //-webkit-transform: translateY(-50%);
  //transform: translateY(-50%);
  //padding: 15px;
  //color: #fff;
  //background: rgba(0, 0, 0, 0.3);
  //border: none;
  //opacity: 0;
  //transition: opacity 0.4s linear;
  //border-radius: 13px;
//}

//#goDown {
//  opacity: 1;
//}

//#goTop.is-visible {
//  opacity: 1;
//}
//
//#goDown.is-visible {
//  opacity: 0;
//}

.active_link {
  opacity: 0;
  margin-top: 50px !important;
}
