<div class="doc-block">
  <div class="doc-text-block container">
    <div class="logo text-center">
      <a routerLink="/">
        <img src="../../assets/moneo-logo/main-logo.svg">
      </a>
    </div>
    <div class="doc-title">
      <p>Our technologies</p>
    </div>
    <div class="doc-content">
      <pre>
        COMING SOON
      </pre>
    </div>
  </div>
  <div class="footer-logo container">
    <div class="row justify-content-between">
      <div class="col align-middle text-left" style="line-height: 50px">
        <p class="copyright">&copy; 2019 moneo llc</p>
      </div>
      <div class="col year fs16 align-middle text-right">
        <div class="logo">
          <a routerLink="/">
            <img src="../../assets/moneo-logo/main-logo.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
