<section>
  <div class="slider-block container" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <div class="logo-block text-center">
      <img src="../assets/moneo-logo/white_logo.svg">
    </div>
    <div class="title-block text-center">
      <h1>
        IT platform for<br>businesses and customers
      </h1>
    </div>
    <div class="basic-block text-sm-center">
      <div class="row text-sm-center justify-content-sm-center">
        <div class="col-12 col-sm-6 col-lg-4 text-center customers-home-content" style="padding-right: 37px">
          <p>
            Companies get modern tools and IT instruments for better business management, for havingmore customers, sales and profits!
          </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center business-home-content" style="padding-left: 38px">
          <p>
            Customers (MONEO App users) get best offers, conditions and tools on the smart phone tosave time and money!
          </p>
        </div>
      </div>
      <div class="row text-center justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4 text-center customers-home-button" style="padding-right: 37px">
          <button class="btn green button customers-home-button"
                  routerLink="/business">For Businesses</button>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center business-home-button" style="padding-left: 38px">
          <button class="btn orange button"
                  routerLink="/customers">For Customers</button>
        </div>
      </div>
    </div>
    <div class="footer-block text-center">
      <p>Everybody wins!!!</p>
    </div>
  </div>


</section>
<!--<div class="navigation">-->
<!--<ul>-->
<!--<li><a routerLinkActive="active" routerLink="/business"><i class="mdi mdi-map-marker"></i> Business</a></li>-->
<!--<li><a routerLinkActive="active" routerLink="/customers"><i class="mdi mdi-account"></i> Customers</a></li>-->
<!--</ul>-->
<!--</div>-->



