@import "../../assets/scss/variables";


.container {
  max-width: 1138px;
}

section {
  //background: transparent;
  width: 100%;
  height: 1000px;
  position: absolute;
  top: -100px;
  background-image: url("../../assets/moneo-logo/fon.png");
  background-size: cover;
  -webkit-mask-image: url("../../assets/moneo-logo/maska.png");
  mask-image: url("../../assets/moneo-logo/maska.png");
  -webkit-mask-position: center center;
  mask-position: center center;
  //-webkit-mask-repeat: no-repeat;
  //mask-repeat: no-repeat;
  @media only screen and (max-width: 1200px) {
    top: -200px;
  }
  @media only screen and (max-width: 992px) {
    top: -240px;
  }
  @media only screen and (max-width: 768px) {
    top: -315px;
  }
  @media only screen and (max-width: 576px) {
    top: -390px;
  }
  @media only screen and (max-width: 480px) {
    top: -430px;
  }
  @media only screen and (max-width: 387px) {
    top: -410px;
  }
}

.slider-block {
  position: relative;
  top: 40px;
  @media only screen and (max-width: 1200px) {
    top: 60px;
  }
  @media only screen and (max-width: 992px) {
    top: 180px;
  }
  @media only screen and (max-width: 768px) {
    top: 280px;
  }
  @media only screen and (max-width: 576px) {
    top: 370px;
  }
  @media only screen and (max-width: 480px) {
    top: 410px;
  }
  @media only screen and (max-width: 445px) {
    top: 450px;
  }
  @media only screen and (max-width: 401px) {
    top: 410px;
  }
  @media only screen and (max-width: 387px) {
    top: 375px;
  }

  .logo-block {
    padding: 200px 0 45px 0;

    img {
      height: 73px;
    }
  }

  .title-block h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1px;
    color: $text-white;
    margin: 0 auto 90px;
    @media only screen and (max-width: 576px) {
      line-height: 40px !important;
    }
    @media only screen and (max-width: 480px) {
      font-size: 2.3rem;
      line-height: 35px !important;
    }
  }

  .basic-block {
    margin-bottom: 82px;

    .customers-home-content {
      @media only screen and (max-width: 576px) {
        position: relative;
        margin-bottom: 20px;
        padding-right: 15px !important;
      }
      @media only screen and (max-width: 320px) {
        margin-bottom: 0!important;
      }
    }

    .business-home-content {
      @media only screen and (max-width: 576px) {
        position: relative;
        margin-bottom: 20px;
        padding-left: 15px !important;
        top: 35px;
      }
    }

    .customers-home-button {
      @media only screen and (max-width: 576px) {
        position: relative;
        margin-bottom: 20px;
        padding-right: 15px !important;
        top: -70px;
      }
      @media only screen and (max-width: 385px) {
        top: -82px;
      }
      @media only screen and (max-width: 375px) {
        top: -70px;
      }

    }

    .business-home-button {
      @media only screen and (max-width: 576px) {
        position: relative;
        margin-bottom: 20px;
        padding-left: 15px !important;
        top: -85px;
      }
    }

    p {
      font-size: 1.375rem;
      line-height: 30px;
      color: $text-white;
      margin: 0 auto 30px;
      //padding: 0 96px;
      @media only screen and (max-width: 576px) {
        line-height: 25px !important;
      }
    }

    .button {
      font-size: 1.375rem;
      font-weight: bold;
      line-height: 36px;
      letter-spacing: 0.3px;
      color: $text-white;
      max-width: 280px;
      min-height: 60px;
      padding: 9px 54px;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
      @media only screen and (max-width: 576px) {
        font-size: 1.75rem;
        line-height: 10px;
        min-height: 40px;
        padding: 4px 22px;
      }
    }

    .green {
      background-color: #1fdb84;

      &:hover {
        color: #1fdb84;
        background-color: $text-white;
      }
    }

    .orange {
      background-color: $button-color-orange;

      &:hover {
        color: $button-color-orange;
        background-color: $text-white;
      }
    }
  }

  .footer-block {
    p {
      font-size: 1.750rem;
      font-weight: bold;
      line-height: 1.07;
      color: $text-white;
    }
  }
}

@media only screen and (max-width: 992px) {
  .slider-block {
    .logo-block {
      padding: 113px 0 74px 0;

      img {
        height: 60px;
      }
    }

    .title-block h1 {
      font-size: 2.875rem;
      font-weight: bold;
      line-height: 60px;
      letter-spacing: 1px;
      color: $text-white;
      margin: 0 auto 90px;
    }

    .basic-block {
      p {
        font-size: 1.375rem;
        line-height: 30px;
        color: $text-white;
        margin: 0 auto 30px;
        //padding: 0 96px;
      }

      .green {
        background-color: #1fdb84;

        &:hover {
          color: #1fdb84;
          background-color: $text-white;
        }
      }

      .orange {
        background-color: $button-color-orange;

        &:hover {
          color: $button-color-orange;
          background-color: $text-white;
        }
      }
    }

    .footer-block {
      p {
        font-size: 1.750rem;
        font-weight: bold;
        line-height: 1.07;
        color: $text-white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider-block {
    .logo-block {
      padding: 75px 0 70px 0;

      img {
        height: 50px;
      }
    }

    .title-block h1 {
      font-size: 2.875rem;
      font-weight: bold;
      line-height: 60px;
      letter-spacing: 1px;
      color: $text-white;
      margin: 0 auto 60px;
    }

    .basic-block {
      p {
        font-size: 1.375rem;
        line-height: 30px;
        color: $text-white;
        margin: 0 auto 30px;
        //padding: 0 96px;
      }

      .green {
        background-color: #1fdb84;

        &:hover {
          color: #1fdb84;
          background-color: $text-white;
        }
      }

      .orange {
        background-color: $button-color-orange;

        &:hover {
          color: $button-color-orange;
          background-color: $text-white;
        }
      }

      .button {
        line-height: 30px;
        min-height: 30px;
      }
    }

    .footer-block {
      p {
        font-size: 1.750rem;
        font-weight: bold;
        line-height: 1.07;
        color: $text-white;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .slider-block {
    .logo-block {
      padding: 65px 0 40px 0;

      img {
        height: 40px;
      }
    }

    .title-block h1 {
      font-size: 2.1rem;
      font-weight: bold;
      line-height: 60px;
      letter-spacing: 1px;
      color: $text-white;
      margin: 0 auto 30px;
    }

    .basic-block {
      margin-bottom: 60px;

      p {
        font-size: 1.375rem;
        line-height: 30px;
        color: $text-white;
        margin: 0 auto 30px;
        //padding: 0 96px;
      }

      .green {
        background-color: #1fdb84;

        &:hover {
          color: #1fdb84;
          background-color: $text-white;
        }
      }

      .orange {
        background-color: $button-color-orange;

        &:hover {
          color: $button-color-orange;
          background-color: $text-white;
        }
      }
    }

    .footer-block {
      position: relative;
      top: -105px;
      @media only screen and (max-width: 480px) {
        top: -135px;
      }

      p {
        font-size: 2.3rem;
        font-weight: bold;
        line-height: 1.07;
        color: $text-white;
      }
    }
  }
}

@media only screen and (max-width: 445px) {
  .slider-block {
    .logo-block {
      padding: 10px 0 40px 0;

    }
  }
}

@media only screen and (max-width: 400px) {
  .slider-block {
    .logo-block {
      padding: 65px 0 40px 0;

      img {
        height: 40px;
      }
    }
  }
}
